/*! purgecss start ignore */
/* @import "nav.css"; */
@import "code.css";
/*! purgecss end ignore */

@import "tailwindcss/base";
@import "layout.css";
@import "tailwindcss/components";
@import "admonition.css";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

/* Custom CSS for header partial */
.backdrop-blur {
  -webkit-backdrop-filter: blur(40px);
}

* {
  font-family: "Lato", sans-serif;
}

.bg-semi-white {
  background-color: rgba(255, 255, 255, 0.75);
}

/* Custom css allowing image styling in markdown */
img[src*="#mx-auto"] {
  margin: auto;
}

img[src*="#small"] {
  width: 68px;
}

img[src*="#medium"] {
  width: 400px;
  margin: auto;
}

img[src*="#logo"] {
  max-width: min(250px, 100%);
  margin: auto;
}

img[src*="#large"] {
  width: 1000px;
  margin: auto;
}

img[src*="#tft_img"] {
  width: 150px;
  margin: 8px;
}

img[src*="#absolute"] {
  position: absolute;
  left: 0;
  top: 0;
}
.footer-cust a{
  color: #999; 
}

.footer-cust a:hover {
  color: rgb(65, 65, 65); 
}

.footer-cust h6{
  margin-bottom: 15px;
}

.logo_size{
  width:200px
}
@layer components {
  h1 {
    @apply text-3xl lg:text-7xl font-normal;
  }
  h2 {
    @apply text-3xl lg:text-6xl my-4 font-light leading-none;
  }
  h2 strong {
    @apply font-medium;
  }
  h3 {
    @apply text-xl lg:text-4xl my-4 font-extralight leading-none;
  }
  h3 strong {
    @apply font-semibold;
  }
  h4 {
    @apply text-sm lg:text-2xl font-normal;
  }
  h5 {
    @apply text-md my-1 tracking-widest text-zinc-500 font-semibold;
  }
  h6 {
    @apply text-md not-italic font-normal my-1;
  }
  p {
    @apply text-lg;
  }
  blockquote {
    @apply border-l-4 border-gray-400 mx-2 my-2 p-2;
  }
  li {
    @apply text-base lg:text-base font-normal;
  }
  li li {
    @apply text-sm lg:text-sm font-light;
  }
  button {
    @apply 
    inline-block
    lg:text-lg
    px-12
    py-1
    mr-5
    my-6
    border-2
    shadow
    border-black
    capitalize
  }
  .my-header h4{
    color:#9f9f9f;

  }
  .article h2{
    font-size: 2.25rem;
    font-family: Lato,sans-serif!important;
    line-height: 1.5;
    font-weight: 700;
    color:#333;
  }
  
  .article h1{
    font-family: Lato,sans-serif!important;
  }

  }
  .article p{
    font-size: 1.125rem;
    font-family: Lato,sans-serif!important;
    line-height: 1.7;
    color:#333
  }
  
  .post-content-text a, .article a{
    color: #4ec48f;
  }
  
  .post-content-text a:hover, .article a:hover{
    color: #2e9969;
  }

  .article li{
    font-size: 1.125rem;
  }
  .main-title {
    font-family: Lato,sans-serif!important;
  }


button:hover :is(:where(a)) {
  color: #3b82f6;
}

button :is(:where(p)) {
  color: #3d3b39;
  font-weight: 400;
}

button a {
  color: black;
}

a {
  border-width: 0px;
}

header {
  font-family: "Work Sans";
}

.nav_btn {
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
}

.quicklinks {
  box-sizing: border-box;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: auto;
  display: inline-block;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 30px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.quicklinks img {
  height: auto;
  max-width: 200px;
  display: inline-block;
  padding: 10px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  position: relative;
  margin-right: 30px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0.5;
}

.quicklinks img:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}


.banner {
  width: 100%;
  margin: 0;
  padding: 120px 0;
  text-align: center;
  position: relative;
  display: block;
  color: #fff !important;
  letter-spacing: 0.5px;
  overflow: hidden;
  background: #00838d;
  transition: 1.5s;
}

.header {
  height: auto;
  background: none;
  padding: 200px 0;
}

.banner h2,
.header h1 {
  margin: auto;
  color: #fff;
  position: relative;
  transition: 0.3s;
  z-index: 1;
  white-space: nowrap;
}

.header h1 {
  color: #000;
  transition: none;
}

.banner h2 svg {
  font-size: 40px;
  margin-left: 15px;
  position: absolute;
  top: 55%;
  transform: translateY(-50%) scale(0.5);
  opacity: 0;
  transition: 0.3s;
}

.banner .back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  filter: grayscale(1) contrast(1.4);
  opacity: 0.25;
  transition: 1.5s;
}

.header .back {
  filter: none;
  opacity: 1;
  background-position: center;

  background-size: cover;
  background-repeat: no-repeat;
}

.banner:hover {
  background: #4b3a92;
}

.header:hover {
  background: none;
}

.banner:hover h2 svg {
  transform: translateY(-50%) scale(1);
  opacity: 1;
}

.banner:hover h2 {
  padding-right: 40px;
}

.header:hover h1 {
  padding-right: 0;
}

.banner:hover .back {
  transform: scale(1.03);
}

.header:hover .back {
  transform: none;
}

.my-test{
  font-family: "Work Sans", sans-serif !important;
} 
.post-content-text .my-test  {
  font-family: "Work Sans", sans-serif !important;
  line-height: 1.7;
}

.post-content-text h2 {
  font-family: Lato,sans-serif!important;
  line-height: 1.5;
  font-size: 2.25rem;
  font-weight: 700;
}
.container-fluid {
  width: 100%;
  /* padding-right: 15px;
  padding-left: 15px; */
  margin-right: auto;
  margin-left: auto;
}

.zola-anchor {
  display: none;
}
@media (max-width: 640px) {
  .banner h2 {
    font: 600 7vw/10vw;
  }

  .header h1 {
    font-size: 35px;
  }

  .banner h2 svg {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .banner,
  .header {
    padding: 80px 0;
  }
}