{% extends "_default/base.html" %}
<!-- partners template
the template for displaying the partners page.
consists of a featured partners row, 
a paginated list of posts (sorted by date), 
and a side nav for category and featured post navigation
-->
{% block content %}
<main>
    <!--sets global featured variable as the most recent post with the isFeatured tag-->
    {%- set section = get_section(path="partners/_index.md") %}
    {% include "partials/intro.html" %}
    <div class="flex flex-col md:flex-row container mx-auto my-8">
        {% include "partials/partnersCards.html" %}
        {% include "partials/partnersSidebar.html" %}
    </div>
</main>
{% endblock content %}
