<div class="bg-transparent relative isolate overflow-hidden py-12 mb-12">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:max-w-none">
        <div class="text-center">
          <h2 class="fade-in text-balance text-4xl font-normal tracking-tight text-white sm:text-5xl">The Team Behind ThreeFold</h2>
          <p class="mx-auto mt-4 max-w-3xl text-pretty lg:text-2xl text-xl font-medium text-gray-200 fade-in">Founded by Internet Pioneers 1.0</p>
          <p class="mx-auto mb-10 mt-6 max-w-4xl text-pretty lg:text-xl text-base font-light text-gray-200 fade-in">We are a dedicated group committed to advancing a new digital era. Some of us have been working on Internet technology since the early days, when it was a decentralized network. We aim to help bring that vision to life once more. Beyond those below, we have more than 50 engineers, developers, and other team members supporting the project.</p>
        </div>

        <div class="mt-12 grid grid-cols-1 gap-x-4 lg:gap-y-10 lg:gap-x-8 lg:grid-cols-4 gap-y-0">

            <!-- Team Member -->
            <div class="group relative fade-in mb-8">
              <div class="h-56 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:h-72 xl:h-80">
                <img src="/images/kds.gif" alt="kristof_de_spiegeleer" class="size-full object-cover">
              </div>
              <h3 class="mt-4 text-xl font-semibold text-white">
                  Kristof de Spiegeleer
              </h3>
              <p class="text-sm text-gray-300">Co-founder & CEO</p>
              <p class="mt-1 text-sm font-light  text-white">
                Serial entrepreneur with 30 years of experience in Internet infrastructure and cloud technology. Passionate about tech for good. +600m $ exits.</p>
            </div>

            <!-- Team Member -->
              <div class="group relative fade-in mb-8">
                <div class="h-56 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:h-72 xl:h-80">
                  <img src="/images/adnan.gif" alt="adnan_fatayerji" class="size-full object-cover">
                </div>
                <h3 class="mt-4 text-xl font-semibold text-white">
                    Adnan Fatayerji
                </h3>
                <p class="text-sm text-gray-300">Co-founder</p>
                <p class="mt-1 text-sm font-light  text-white">
                  Tech entrepreneur with multiple exits. Based in Dubai for 20 years. Head of Partnerships and Business Development..</p>
              </div>

                <!-- Team Member -->
              <div class="group relative fade-in mb-8">
                <div class="h-56 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:h-72 xl:h-80">
                  <img src="/images/jan.gif" alt="jan_de_landtsheer" class="size-full object-cover">
                </div>
                <h3 class="mt-4 text-xl font-semibold text-white">
                    Jan De Landtsheer
                </h3>
                <p class="text-sm text-gray-300">Co-founder & CTO</p>
                <p class="mt-1 text-sm font-light  text-white">
                  Engineer with 40+ years of experience in deep tech, networking, cloud and storage.</p>
              </div>
                  
                    <!-- Team Member -->
              <div class="group relative fade-in mb-8">
                <div class="h-56 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:h-72 xl:h-80">
                  <img src="/images/flo.gif" alt="florian_fournier" class="size-full object-cover">
                </div>
                <h3 class="mt-4 text-xl font-semibold text-white">
                    Florian Fournier
                </h3>
                <p class="text-sm text-gray-300">Co-founder & CMO</p>
                <p class="mt-1 text-sm font-light  text-white">
                  Ex Apple marketing director, serial entrepreneur living between Africa and Latin America.</p>
              </div>
          </div>
     </div>
     <div class="mt-8 flex items-center justify-center gap-x-6 fade-in">
        <a href="/people" class="fade-in rounded-2xl bg-white px-4 py-2.5 text-sm font-semibold text-black shadow-sm hover:bg-gray-200 hover:text-gray-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-offset-2">Meet the Team</a>
      </div>
 </div>
    
