<div class="bg-transparent relative isolate lg:py-24 py-12 ">
    <div class="mx-auto max-w-7xl px-4 lg:px-8">
      <div class="mx-auto max-w-2xl lg:max-w-4xl text-center">
            <div class="text-center">
              <h2 class="fade-in text-balance text-3xl font-normal tracking-tight text-white lg:text-5xl capitalize">Founded by Internet 1.0 Pioneers<br>and All of You</h2>
              <p class="mx-auto mb-10 mt-6 max-w-4xl text-pretty lg:text-xl text-lg font-light text-gray-200 fade-in">The founders have been working in Internet technology since its early days when it operated as a decentralized, peer-to-peer network. ThreeFold is an open-source movement driven by a dedicated team and a vibrant community of contributors helping to bring our shared vision to life. 
                <br>The project is supported by over 50 full-time active developers.</p>
            </div>
            <div class="mt-8 flex items-center justify-center gap-x-6 fade-in">
            <a href="/people" class="fade-in rounded-2xl bg-white px-4 py-2.5 text-sm font-semibold text-black shadow-sm hover:bg-gray-200 hover:text-gray-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-offset-2">Meet the Team</a>
            </div>
      </div>
    </div>
</div>
    
