<div class="fade-in bg-transparent relative isolate overflow-hidden pt-12 pb-0">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:max-w-none">
            <div class="text-center">
                <h2 class="fade-in text-balance text-4xl font-normal tracking-tight text-white lg:text-5xl">ThreeFold’s Journey</h2>
                <p class="fade-in mx-auto mt-6 lg:mb-1 mb-6 max-w-3xl text-pretty lg:text-xl text-lg font-light text-gray-200">The pivotal milestones that have shaped Threefold's growth and innovation, driving us towards a sustainable, decentralized future.</p>
            </div>
        </div>
    </div>
</div>

<div class="space-y-8 pt-12 pb-24 mx-auto max-w-7xl relative before:absolute before:inset-0 before:ml-5 before:-translate-x-px md:before:mx-auto md:before:translate-x-0 before:h-full before:w-0.5 before:bg-gradient-to-b before:from-transparent before:via-slate-300 before:to-transparent">

    <!-- Item #1 -->
    <div class="fade-in relative flex items-center justify-between md:justify-normal md:odd:flex-row-reverse group is-active">
        <div class="flex items-center justify-center w-10 h-10 rounded-full border border-white bg-slate-300 group-[.is-active]:bg-emerald-500 text-slate-500 group-[.is-active]:text-emerald-50 shadow shrink-0 md:order-1 md:group-odd:-translate-x-1/2 md:group-even:translate-x-1/2">
            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="12" height="10">
                <path fill-rule="nonzero" d="M10.422 1.257 4.655 7.025 2.553 4.923A.916.916 0 0 0 1.257 6.22l2.75 2.75a.916.916 0 0 0 1.296 0l6.415-6.416a.916.916 0 0 0-1.296-1.296Z" />
            </svg>
        </div>
        <div class="fade-in w-[calc(100%-4rem)] md:w-[calc(50%-2.5rem)] bg-white/5 p-4 rounded-2xl shadow">
            <div class="flex items-center justify-between space-x-2 mb-1">
                <div class="font-medium text-gray-200">Phase I</div>
            </div>
            <div class="font-semibold text-lg text-gray-200 mb-2">Creation of Core Technology</div>
            <div class="text-gray-200 font-light">
                10+ years of Development
                <br>Built decentralized, autonomous, edge internet technology
                <br>50m dollars invested by founders, community, and TF Tech investors
            </div>
        </div>
    </div>

    <!-- Item #2 -->
    <div class="fade-in relative flex items-center justify-between md:justify-normal md:odd:flex-row-reverse group is-active">
        <div class="flex items-center justify-center w-10 h-10 rounded-full border border-white bg-slate-300 group-[.is-active]:bg-emerald-500 text-slate-500 group-[.is-active]:text-emerald-50 shadow shrink-0 md:order-1 md:group-odd:-translate-x-1/2 md:group-even:translate-x-1/2">
            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="12" height="10">
                <path fill-rule="nonzero" d="M10.422 1.257 4.655 7.025 2.553 4.923A.916.916 0 0 0 1.257 6.22l2.75 2.75a.916.916 0 0 0 1.296 0l6.415-6.416a.916.916 0 0 0-1.296-1.296Z" />
            </svg>
        </div>
        <div class="fade-in w-[calc(100%-4rem)] md:w-[calc(50%-2.5rem)] bg-white/5 p-4 rounded-2xl shadow">
            <div class="flex items-center justify-between space-x-2 mb-1">
                <div class="font-medium text-white">Phase II</div>
            </div>
            <div class="font-semibold text-lg text-white mb-2">Global Proof Of Concept</div>
            <div class="text-gray-200 font-light">
                Open Source Development
                <br>50+ Countries
                <br>50,000+ Cores
                <br>25,000,000 GB of Storage
                <br>Thousands of enthusiasts actively engage with and contribute to the evolution of the ThreeFold Network.
                <br>Decentralized reliable compute, network and storage layer for Web 2-3
                <br>Commitments from wonderful projects to build on top of us.
            </div>
        </div>
    </div>

    <!-- Item #3 -->
    <div class="fade-in relative flex items-center justify-between md:justify-normal md:odd:flex-row-reverse group is-active">
        <div class="flex items-center justify-center w-10 h-10 rounded-full border border-white bg-slate-300 group-[.is-active]:bg-emerald-500 text-slate-500 group-[.is-active]:text-emerald-50 shadow shrink-0 md:order-1 md:group-odd:-translate-x-1/2 md:group-even:translate-x-1/2">
            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="12" height="10">
                <path fill-rule="nonzero" d="M10.422 1.257 4.655 7.025 2.553 4.923A.916.916 0 0 0 1.257 6.22l2.75 2.75a.916.916 0 0 0 1.296 0l6.415-6.416a.916.916 0 0 0-1.296-1.296Z" />
            </svg>
        </div>
        <div class="fade-in w-[calc(100%-4rem)] md:w-[calc(50%-2.5rem)] bg-white/5 p-4 rounded-2xl shadow">
            <div class="flex items-center justify-between space-x-2 mb-1">
                <div class="font-medium text-white">2025</div>
            </div>
            <div class="font-semibold text-lg text-white mb-2">ThreeFold Web4</div>
            <div class="text-gray-200 font-light">
                Introduce a Web4 Phone & Router
                <br>Web4 smart contracts for the Web3 world.                
                <br>Expand the network to +1 Million Nodes
                <br>Quantum Safe Compute, Storage & Network for agent centric Web4.
                <br>Build a network of commercial farmers for optimal performance and uptime

            </div>
        </div>
    </div>

    <!-- Item #4 -->
    <div class="fade-in relative flex items-center justify-between md:justify-normal md:odd:flex-row-reverse group is-active">
        <div class="flex items-center justify-center w-10 h-10 rounded-full border border-white bg-slate-300 group-[.is-active]:bg-emerald-500 text-slate-500 group-[.is-active]:text-emerald-50 shadow shrink-0 md:order-1 md:group-odd:-translate-x-1/2 md:group-even:translate-x-1/2">
            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="12" height="12">
                <path d="M12 10v2H7V8.496a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5V12H0V4.496a.5.5 0 0 1 .206-.4l5.5-4a.5.5 0 0 1 .588 0l5.5 4a.5.5 0 0 1 .206.4V10Z" />
            </svg>
        </div>
        <div class="fade-in w-[calc(100%-4rem)] md:w-[calc(50%-2.5rem)] bg-white/5 p-4 rounded-2xl shadow">
            <div class="flex items-center justify-between space-x-2 mb-1">
                <div class="font-medium text-gray-400">The Result</div>
            </div>
            <div class="font-semibold text-lg text-gray-400 mb-2">Autonomy for All</div>
            <div class="text-gray-400 font-light">
                An upgraded Internet for Billions.
                <br>A planet and people first hybrid of Humans and Machines deliver
                <br>on the promise of Augmented Collective Intelligence
            </div>
        </div>
    </div>
</div>


<style>
    /* Initial state: elements are invisible */
.fade-in {
  opacity: 0;
  transition: opacity 1s ease-out;
}

/* State when element is in view */
.fade-in.visible {
  opacity: 1;
}

</style>

<script>
    // Get all the elements that need to be faded in
    document.addEventListener('DOMContentLoaded', function() {
  // Target all elements with the 'fade-in' class
  const fadeInElements = document.querySelectorAll('.fade-in');

  const observer = new IntersectionObserver((entries, observer) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        // Add 'visible' class to the element when it's in view
        entry.target.classList.add('visible');
        observer.unobserve(entry.target); // Stop observing after it fades in
      }
    });
  }, {
    threshold: 0.1 // Trigger when 10% of the element is in view
  });

  fadeInElements.forEach(element => {
    observer.observe(element);
  });
});
</script>

