<div class="relative isolate overflow-hidden bg-transparent text-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="relative grid lg:grid-cols-12 lg:gap-8">
            <!-- Left Content -->
            <div class="lg:col-span-7">
                <div class="mx-auto max-w-2xl lg:mx-0">
                    <p class="text-base/7 font-semibold text-indigo-400">Deploy faster</p>
                    <h1 class="mt-2 text-4xl font-semibold tracking-tight sm:text-5xl">A better workflow</h1>
                    <p class="mt-6 text-xl/8">Aliquet nec orci mattis amet quisque ullamcorper neque, nibh sem. At arcu, sit dui mi, nibh dui, diam eget aliquam. Quisque id at vitae feugiat egestas ac. Diam nulla orci at in viverra scelerisque eget. Eleifend egestas fringilla sapien.</p>
                </div>
            </div>
        </div>
    </div>
</div>
