{% set url = body | split(pat="href=") | slice(start=1) | first | split(pat=">") | first | trim_start_matches(pat='"')
| trim_end_matches(pat='"') %}

{% if 'https' in url %}
    {% if url is not containing("threefold") %}
        {% if url is not containing("localhost") %}
        <button onclick="window.open('{{url}}', '_blank');"
            class="leading-6 border-transparent flex flex-col border-2 w-full items-start rounded transition hover:first:text-gray-500 hover:border-stone-200 hover:bg-stone-100 p-2 text-left">
            {{ body | trim_start_matches(pat="<p>") | safe}}
        </button>
        {% endif %}
    {% endif %}

{% else %}
<button onclick="window.location='{{get_url(path=url)}}'"
    class="leading-6 border-transparent flex flex-col border-2 w-full items-start rounded transition hover:first:text-gray-500 hover:border-stone-200 hover:bg-stone-100 p-2 text-left">
    <a href="{{get_url(path=url)}}"> {{ body | trim_start_matches(pat="<p>") | striptags | safe}}</a>
</button>
{% endif %}