<div class="text-gray-900 bg-cover bg-no-repeat mybg" style="background-image:url(expand/BG_wide.png)">
    <div class="h-full">
      <div class="flex flex-col items-center md:flex-row">
       <div class="w-full md:w-1/2">
          <div class="block">
            <img
                src="expand/togethericon.png" class="w-full h-full"/>
          </div>
        </div>
        <div class="flex flex-col items-start justify-center w-full py-24 md:w-1/2">
          <div class="flex flex-col items-start justify-center p-6">
            <h1>Be the <strong>Internet</strong></h1>
            <h3 class="my-0">Host a node, support a decentralized future</h3>
            <p>By connecting a modern computer at your home or office to the ThreeFold Grid, you can provide Internet capacity to communities and builders, and be rewarded for doing this. Take part in shaping a new Internet era governed by all of us.</p>
            <button class="mx-0"><a target="_blank" href="https://www.manual.grid.tf/documentation/farmers/3node_building/3node_building.html">Get Started</a></button>
          </div>
        </div>
      </div>
    </div>
  </div>