<div class="">
  <div class="mx-auto max-w-7xl px-4 mt-8 lg:px-0">
    <div class="bg-white/5 rounded-md relative isolate overflow-hidden bg-red-700 lg:flex lg:items-center lg:gap-x-20 ">
      
      <!-- Text Column -->
      <div class="max-w-md lg:max-w-xl text-left px-4 lg:px-16">
        <img class="fade-in mb-4" width="30%" src="/images/tft_logo.png" alt="TF logo">
        <h2 class="text-3xl font-bold tracking-tight text-white">ThreeFold Cloud</h2>
        <dt class="text-lg font-normal text-white">Open-Source Cloud</dt>
        <p class="mt-2 text-base text-white">ThreeFold is open for developers and system administrators. Deploy virtual machines, containers, Kubernetes clusters, web gateways, and more on top of a best-effort decentralized open source cloud.</p>
        <div class="mt-6 flex items-center gap-x-6">
          <a href="https://manual.grid.tf/" class="fade-in rounded-2xl bg-white px-8 py-2.5 text-sm font-semibold text-black shadow-sm hover:text-gray-800 hover:bg-green focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2" target="_blank">Manual</a>
        </div>
      </div>

      <!-- Image Column -->
      <div class="w-full lg:w-1/2 mt-12 lg:mt-0">
        <img class="w-full h-auto rounded-md" src="/images/app.png" alt="App screenshot">
      </div>

    </div>
  </div>
</div>


<div class="mt-12 flex flex-col lg:flex-row items-center justify-center gap-x-6">
  <a href="/deploy" class="mr-2 my-2 fade-in rounded-2xl bg-white px-8 py-2.5 text-sm font-semibold text-black shadow-sm hover:text-gray-800 hover:bg-green focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">Start Deploying</a>
  <a href="https://dashboard.grid.tf/#/tf-grid/node-statistics/" class="mr-2 my-2 fade-in rounded-2xl bg-white px-8 py-2.5 text-sm font-semibold text-black shadow-sm hover:text-gray-800 hover:bg-green focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2" target="_blank">Explore Dashboard</a>
  
</div>