<div class="container-fluid sm:pxi-0 mx-auto py-5 overflow-visible">
    <div class="bg-white">
        <div class="max-w-screen-xl mx-auto py-10 px-4 sm:px-6 lg:px-8">
            <div class="
          mt-12
          space-y-4
          sm:mt-8
          sm:space-y-0
          sm:grid sm:grid-cols-2
          sm:gap-6
          lg:max-w-4xl
          lg:mx-auto
          xl:max-w-none
          xl:mx-0
          xl:grid-cols-3
        ">
                <div class="
            border border-gray-200
            rounded-lg
            shadow-sm
            divide-y divide-gray-200
          ">
                    <div class="p-6">
                        <h2 class="
                text-xl
                leading-8
                 font-extrabold
                text-gray-900
              ">
                            ThreeFold Grid Operations Lead
                        </h2>
                        <p class="mb-8 text-gray-600 leading-relaxed">
                            The ThreeFold Grid will eventually connect millions of nodes. You'll be in charge of finding
                            the best ways to operate such a network.
                        </p>
                        <button class="
                inline-block
                bg-white
                text-lg
                learn-button
                lg:px-12
                px-6
                py-1
                mr-5
                my-4
                border-2
                shadow
                border-black
              ">
                            <a href="/careers/grid-operations-manager">See Position</a>
                        </button>
                    </div>
                </div>

                <div class="
            border border-gray-200
            rounded-lg
            shadow-sm
            divide-y divide-gray-200
          ">
                    <div class="p-6">
                        <h2 class="
                text-xl
                leading-8
                 font-extrabold
                text-gray-900
              ">
                            ThreeFold Grid Developer Lead
                        </h2>
                        <p class="mb-8 text-gray-600 leading-relaxed">
                            Take ownership of the ongoing development and documentation of the tech components that
                            constitute the ThreeFold Grid.
                        </p>
                        <button class="
                inline-block
                bg-white
                text-lg
                learn-button
                lg:px-12
                px-6
                py-1
                mr-5
                my-4
                border-2
                shadow
                border-black
              ">
                            <a href="/careers/grid-development-manager">See Position</a>
                        </button>
                    </div>
                </div>

                <div class="
            border border-gray-200
            rounded-lg
            shadow-sm
            divide-y divide-gray-200
          ">
                    <div class="p-6">
                        <h2 class="
                text-xl
                leading-8
                 font-extrabold
                text-gray-900
              ">
                            Master Technical Architect
                        </h2>
                        <p class="mb-8 text-gray-600 leading-relaxed">
                            Take the lead on the architectural design of the Digital Twin tech and ecosystem defining a
                            new paradigm for the tech industry.
                        </p>
                        <button class="
                inline-block
                bg-white
                text-lg
                learn-button
                lg:px-12
                px-6
                py-1
                mr-5
                my-4
                border-2
                shadow
                border-black
              ">
                            <a href="/careers/master-architect-dt">See Position</a>
                        </button>
                    </div>
                </div>

                <div class="
            border border-gray-200
            rounded-lg
            shadow-sm
            divide-y divide-gray-200
          ">
                    <div class="p-6">
                        <h2 class="
                text-xl
                leading-8
                 font-extrabold
                text-gray-900
              ">
                            Quality Assurance Engineer
                        </h2>
                        <p class="mb-8 text-gray-600 leading-relaxed">
                            ThreeFold is developing infrastructures and products like never before. Join the testing
                            team and ensure optimum tech releases.
                        </p>
                        <button class="
                inline-block
                bg-white
                text-lg
                learn-button
                lg:px-12
                px-6
                py-1
                mr-5
                my-4
                border-2
                shadow
                border-black
              ">
                            <a href="/careers/qa-engineer">See Position</a>
                        </button>
                    </div>
                </div>

                <div class="
            border border-gray-200
            rounded-lg
            shadow-sm
            divide-y divide-gray-200
          ">
                    <div class="p-6">
                        <h2 class="
                text-xl
                leading-8
                 font-extrabold
                text-gray-900
              ">
                            Senior Developer
                        </h2>
                        <p class="mb-8 text-gray-600 leading-relaxed">
                            Join the core developer team working on our operating system Zero-OS, Digital Twin,
                            blockchain layers or other products we are building.
                        </p>
                        <button class="
                inline-block
                bg-white
                text-lg
                learn-button
                lg:px-12
                px-6
                py-1
                mr-5
                my-4
                border-2
                shadow
                border-black
              ">
                            <a href="/careers/senior-developer">See Position</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>