{% set link = link | default(value="") %}
{% set image_src = image_src | default(value="") %}
{% set image_alt = image_alt | default(value="") %}
{% set title = title | default(value="") %}
{% set subtitle = subtitle | default(value="") %}

       
    <a class="my-6" target="_blank" href="{{ link }}">
        <div class="myscale">
            <img src="{{ image_src }}" class="mx-auto" width="60px" alt="{{ image_alt }}">
        </div>
        <h6 class="text-white mt-4 font-semibold">{{ title }}</h6>
        <p class="text-base text-white  leading-snug">{{ subtitle }}</p>
    </a>   
        
   
     
   
        
