<div class="lg:my-32 flex flex-col mt-5 p-auto lg:px-40">
    <h2 class="flex py-2 mx-auto uppercase font-normal lg:text-6xl">
        THE TEAM
    </h2>
    <div class="lg:max-w-4xl text-xl text-center mb-8 mx-auto leading-relaxed">Spread across the world, our team has
        built some of the world’s best Internet storage and cloud automation technologies since the ‘90s. With a strong
        vision for the future, we’re now on a mission to create a peer-to-peer Internet that can host all of humanity’s
        digital workloads via smart contract, removing all forms of centralization from global IT systems.</div>
    <div class="flex overflow-x-scroll pb-10 scrollable">
        <div class="flex flex-nowrap ml-10 mt-10">
            <div class="inline-block px-3">
                <div class="
                box
                max-w-xs
                overflow-hidden
                rounded-full
                shadow-md
                hover:shadow-xl
                transition-shadow
                duration-300
                ease-in-out
              ">
                    <a href="/people/kristof-de-spiegeleer/" title="Kristof De Spiegeleer">
                        <img src="/images/people/kristof_de_spiegeleer.jpeg"
                            class="rounded-full mx-auto mt-3" alt="Kristof De Spiegeleer" />
                    </a>
                </div>
            </div>
            <div class="inline-block px-3">
                <div class="
                box
                max-w-xs
                overflow-hidden
                rounded-full
                shadow-md
                hover:shadow-xl
                transition-shadow
                duration-300
                ease-in-out
              ">
                    <a href="/people/adnanfatayerji/" title="Adnan Fatayerji">
                        <img src="/images/people/adnan_fatayerji.jpg"
                            class="rounded-full mx-auto mt-3" alt="Adnan Fatayerji" />
                    </a>
                </div>
            </div>
            <div class="inline-block px-3">
                <div class="
                box
                max-w-xs
                overflow-hidden
                rounded-full
                shadow-md
                hover:shadow-xl
                transition-shadow
                duration-300
                ease-in-out
              ">
                    <a href="/people/andreashartl/" title="Andreas Hartl">
                        <img src="/images/people/andreas_hartl.jpeg"
                            class="rounded-full mx-auto mt-3" alt="Andreas Hartl" />
                    </a>
                </div>
            </div>
            <div class="inline-block px-3">
                <div class="
                box
                max-w-xs
                overflow-hidden
                rounded-full
                shadow-md
                hover:shadow-xl
                transition-shadow
                duration-300
                ease-in-out
              ">
                    <a href="/people/christopher-hutton/" title="Christopher Hutton">
                        <img src="/images/people/christhoper_hutton.jpeg"
                            class="rounded-full mx-auto mt-3" alt="Christopher Hutton" />
                    </a>
                </div>
            </div>
            <div class="inline-block px-3">
                <div class="
                box
                max-w-xs
                overflow-hidden
                rounded-full
                shadow-md
                hover:shadow-xl
                transition-shadow
                duration-300
                ease-in-out
              ">
                    <a href="/people/ewald-weizenbauer/" title="Ewald Weizenbauer">
                        <img src="/images/people/ewald_weizenbauer.jpg"
                            class="rounded-full mx-auto mt-3" alt="Ewald Weizenbauer" />
                    </a>
                </div>
            </div>
            <div class="inline-block px-3">
                <div class="
                box
                max-w-xs
                overflow-hidden
                rounded-full
                shadow-md
                hover:shadow-xl
                transition-shadow
                duration-300
                ease-in-out
              ">
                    <a href="/people/jan-de-landtsheer/" title="Jan De Landtsheer">
                        <img src="/images/people/jan_de_landtsheer.jpeg"
                            class="rounded-full mx-auto mt-3" alt="Jan De Landtsheer" />
                    </a>
                </div>
            </div>
            <div class="inline-block px-3">
                <div class="
                box
                max-w-xs
                overflow-hidden
                rounded-full
                shadow-md
                hover:shadow-xl
                transition-shadow
                duration-300
                ease-in-out
              ">
                    <a href="/people/libor-voncina/" title="Libor Voncina">
                        <img src="/images/people/libor_voncina.jpeg"
                            class="rounded-full mx-auto mt-3" alt="Libor Voncina" />
                    </a>
                </div>
            </div>
            <div class="inline-block px-3">
                <div class="
                box
                max-w-xs
                overflow-hidden
                rounded-full
                shadow-md
                hover:shadow-xl
                transition-shadow
                duration-300
                ease-in-out
              ">
                    <a href="/people/owen-kemp/" title="Owen Kemp">
                        <img src="/images/people/owen_kemp.jpeg"
                            class="rounded-full mx-auto mt-3" alt="Owen Kemp" />
                    </a>
                </div>
            </div>
            <div class="inline-block px-3">
                <div class="
                box
                max-w-xs
                overflow-hidden
                rounded-full
                shadow-md
                hover:shadow-xl
                transition-shadow
                duration-300
                ease-in-out
              ">
                    <a href="/people/peter-van-der-henst/" title="Peter van der Henst">
                        <img src="/images/people/peter_van_der_henst.png"
                            class="rounded-full mx-auto mt-3" alt="Peter van der Henst" />
                    </a>
                </div>
            </div>
            <div class="inline-block px-3">
                <div class="
                box
                max-w-xs
                overflow-hidden
                rounded-full
                shadow-md
                hover:shadow-xl
                transition-shadow
                duration-300
                ease-in-out
              ">
                    <a href="/people/rajinder-singh-grewal/" title="Rajinder Singh Grewal">
                        <img src="/images/people/rajinder_singh_grewal.jpeg"
                            class="rounded-full mx-auto mt-3" alt="Rajinder Singh Grewal" />
                    </a>
                </div>
            </div>
            <div class="inline-block px-3">
                <div class="
                box
                max-w-xs
                overflow-hidden
                rounded-full
                shadow-md
                hover:shadow-xl
                transition-shadow
                duration-300
                ease-in-out
              ">
                    <a href="/people/sabrina-sadik/" title="Sabrina Sadik">
                        <img src="/images/people/sabrina_sadik.jpg"
                            class="rounded-full mx-auto mt-3" alt="Sabrina Sadik" />
                    </a>
                </div>
            </div>
            <div class="inline-block px-3">
                <div class="
                box
                max-w-xs
                overflow-hidden
                rounded-full
                shadow-md
                hover:shadow-xl
                transition-shadow
                duration-300
                ease-in-out
              ">
                    <a href="/people/sam-taggart/" title="Sam Taggart">
                        <img src="/images/people/sam_taggart.jpg"
                            class="rounded-full mx-auto mt-3" alt="Sam Taggart" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .scrollable::-webkit-scrollbar {
        width: 8px;
    }

    .scrollable::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 20px;
    }

    .scrollable::-webkit-scrollbar-thumb {
        background: linear-gradient(45deg, #70dfc9, #ee7bf7);
        border-radius: 20px;
    }

    /* #70dfc9, #ee7bf7 */
    .box {
        position: relative;
        height: 150px;
        width: 150px;
    }

    .box::before {
        content: "";
        position: absolute;
        top: 5px;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 50%;
        padding: 10px;
        background: linear-gradient(45deg, #70dfc9, #ee7bf7);
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
    }

    .box img {
        filter: grayscale(100%);
        height: 130px;
        width: 130px;
    }

    .box img:hover {
        filter: grayscale(0);
    }
</style>