{% block content %}

<div
    class="relative lg:pb-24 pb-10 flex flex-col sm:grid sm:grid-cols-2 sm:gap-10 xl:flex xl:flex-row md:py-2 lg:py-2 lg:items-center text-center mx-auto justify-center">
    <a class="center pb-4 lg:pb-0" href="https://coinmarketcap.com/currencies/threefold/" target="_blank">
        {% set link = page.permalink ~ "cointelegraph_logo.png"%}
        <img class="logo_size mx-auto" src="{{link}}" alt="cointelegraph">
    </a>
    <a class="center" href="https://www.coingecko.com/en/coins/threefold-token" target="_blank">
        {% set link = page.permalink ~ "coin_logo.png"%}
        <img class="logo_size mx-auto" src="{{link}}" alt="CoinGecko">
    </a>
</div>

{% endblock content %}