{% block content %}

<div class="quicklinks text-center">
    <a class="center" href="https://gettft.com/gettft/" rel="some text" target="_blank">
        {% set link = page.permalink ~ "get_tft_button.png"%}
        <img class="py-2 mr-2 my-2 px-5 border-2 border-black" src="{{link}}" alt="gettft">
    </a>
    <a class="center"
    href="https://www.manual.grid.tf/documentation/threefold_token/buy_sell_tft/tft_lobstr/tft_lobstr_short_guide.html"
    target="_blank">
    {% set link = page.permalink ~ "stellar_logo.png"%}
    <img class="py-2 mr-2 my-2 px-5 border-2 border-black" src="{{link}}" alt="stellar">
</a>
    <a class="center"
        href="https://pancakeswap.finance/swap?exactField=output&exactAmount=100&outputCurrency=0x8f0FB159380176D324542b3a7933F0C2Fd0c2bbf&inputCurrency=0xe9e7cea3dedca5984780bafc599bd69add087d56?use=v2"
        target="_blank">
        {% set link = page.permalink ~ "pancack_button.png"%}
        <img class="py-2 mr-2 my-2 px-5 border-2 border-black" src="{{link}}" alt="pancakeswap">
    </a>
    <a class="center" href="https://app.1inch.io/#/56/swap/BNB/TFT" target="_blank">
        {% set link = page.permalink ~ "iinch_button.png"%}
        <img class="py-2 my-2 mr-2 px-5 border-2 border-black" src="{{link}}" alt="1inch">
    </a>
</div>

{% endblock content %}