
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
<script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    fontFamily: {
                        inter: ['Inter', 'sans-serif'],
                    },
                },
            },
        };
    </script>
    <main class="relative flex flex-col justify-center overflow-hidden">
        <div class="w-full max-w-7xl mx-auto px-4 md:px-6 lg:py-24 py-12">

            <h1 class="lg:text-4xl text-3 font-normal tracking-tight text-white">Frequently Asked Questions</h1>

            <!-- Accordion component -->
            <div class="divide-y divide-white/50 my-10">
                <!-- Accordion item -->
                <div x-data="{ expanded: false }" class="py-2">
                    <h2>
                        <button
                            id="faqs-title-01"
                            type="button"
                            class="flex items-center justify-between w-full text-left font-semibold py-2 border-none"
                            @click="expanded = !expanded"
                            :aria-expanded="expanded"
                            aria-controls="faqs-text-01"
                        >
                            <span style="color: #fff;">Is this a separate new Internet?</span>
                            <svg class="fill-white shrink-0 ml-8" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                                <rect y="7" width="16" height="2" rx="1" class="transform origin-center transition duration-200 ease-out" :class="{'!rotate-180': expanded}" />
                                <rect y="7" width="16" height="2" rx="1" class="transform origin-center rotate-90 transition duration-200 ease-out" :class="{'!rotate-180': expanded}" />
                            </svg>
                        </button>
                    </h2>
                    <div
                        id="faqs-text-01"
                        role="region"
                        aria-labelledby="faqs-title-01"
                        class="grid text-sm text-slate-200 overflow-hidden transition-all duration-300 ease-in-out"
                        :class="expanded ? 'grid-rows-[1fr] opacity-100' : 'grid-rows-[0fr] opacity-0'"
                        >
                        <div class="overflow-hidden">
                            <p class="pb-3 text-gray-300 text-base font-light">
                                No, ThreeFold is a complementary Internet and works alongside the current Internet. It allows you to continue accessing and interacting with the current Internet.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Accordion item -->
                <div x-data="{ expanded: false }" class="py-2">
                    <h2>
                        <button
                            id="faqs-title-02"
                            type="button"
                            class="flex items-center justify-between w-full text-left font-semibold py-2 border-none"
                            @click="expanded = !expanded"
                            :aria-expanded="expanded"
                            aria-controls="faqs-text-02"
                        >
                            <span style="color: #fff;">Why do we need a new Internet?</span>
                            <svg class="fill-white shrink-0 ml-8" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                                <rect y="7" width="16" height="2" rx="1" class="transform origin-center transition duration-200 ease-out" :class="{'!rotate-180': expanded}" />
                                <rect y="7" width="16" height="2" rx="1" class="transform origin-center rotate-90 transition duration-200 ease-out" :class="{'!rotate-180': expanded}" />
                            </svg>
                        </button>
                    </h2>
                    <div
                        id="faqs-text-02"
                        role="region"
                        aria-labelledby="faqs-title-02"
                        class="grid text-sm text-gray-200 overflow-hidden transition-all duration-300 ease-in-out"
                        :class="expanded ? 'grid-rows-[1fr] opacity-100' : 'grid-rows-[0fr] opacity-0'"
                        >
                        <div class="overflow-hidden">
                            <p class="pb-3 text-gray-300 text-base font-light">
                                The Internet used to be a peer to peer network, but has become fragile and too centralized. There are so many problems with the current Internet, such as authenticity, privacy, security, and sustainability that we believe a fundamental new approach is needed.
                        </div>
                    </div>
                </div>  
                <!-- Accordion item -->
                <div x-data="{ expanded: false }" class="py-2">
                    <h2>
                        <button
                            id="faqs-title-05"
                            type="button"
                            class="flex items-center justify-between w-full text-left font-semibold py-2 border-none"
                            @click="expanded = !expanded"
                            :aria-expanded="expanded"
                            aria-controls="faqs-text-05"
                        >
                            <span style="color: #fff;">How can I participate?</span>
                            <svg class="fill-white shrink-0 ml-8" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                                <rect y="7" width="16" height="2" rx="1" class="transform origin-center transition duration-200 ease-out" :class="{'!rotate-180': expanded}" />
                                <rect y="7" width="16" height="2" rx="1" class="transform origin-center rotate-90 transition duration-200 ease-out" :class="{'!rotate-180': expanded}" />
                            </svg>
                        </button>
                    </h2>
                    <div
                        id="faqs-text-05"
                        role="region"
                        aria-labelledby="faqs-title-05"
                        class="grid text-sm text-gray-200 overflow-hidden transition-all duration-300 ease-in-out"
                        :class="expanded ? 'grid-rows-[1fr] opacity-100' : 'grid-rows-[0fr] opacity-0'"
                        >
                        <div class="overflow-hidden">
                             <p class="pb-3 text-gray-300 text-base font-light">
                                You can participate by becoming a farmer, a user, a partner or by developing apps. Provide capacity to the ThreeFold Grid, Use capacity, build solutions, develop applications, and many more.
                            </p>
                        </div>
                    </div>
                </div> 
                <!-- Accordion item -->
                <div x-data="{ expanded: false }" class="py-2">
                    <h2>
                        <button
                            id="faqs-title-04"
                            type="button"
                            class="flex items-center justify-between w-full text-left font-semibold py-2 border-none"
                            @click="expanded = !expanded"
                            :aria-expanded="expanded"
                            aria-controls="faqs-text-04"
                        >
                            <span style="color: #fff;">How can I get V4 nodes?                                ?</span>
                            <svg class="fill-white shrink-0 ml-8" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                                <rect y="7" width="16" height="2" rx="1" class="transform origin-center transition duration-200 ease-out" :class="{'!rotate-180': expanded}" />
                                <rect y="7" width="16" height="2" rx="1" class="transform origin-center rotate-90 transition duration-200 ease-out" :class="{'!rotate-180': expanded}" />
                            </svg>
                        </button>
                    </h2>
                    <div
                        id="faqs-text-04"
                        role="region"
                        aria-labelledby="faqs-title-04"
                        class="grid text-sm text-gray-200 overflow-hidden transition-all duration-300 ease-in-out"
                        :class="expanded ? 'grid-rows-[1fr] opacity-100' : 'grid-rows-[0fr] opacity-0'"
                        >
                        <div class="overflow-hidden">
                             <p class="pb-3 text-gray-300 text-base font-light">
                                
                            Our partners are selling V4 nodes with a new reward scheme and ready to grow to millions of nodes. <A href="docs.threefold.io/docs/become-a-farmer/get_started">Click here</a> to get V4 nodes.
                            </p>
                        </div>
                    </div>
                </div> 
                <!-- Accordion item -->
                <div x-data="{ expanded: false }" class="py-2">
                    <h2>
                        <button
                            id="faqs-title-07"
                            type="button"
                            class="flex items-center justify-between w-full text-left font-semibold py-2 border-none"
                            @click="expanded = !expanded"
                            :aria-expanded="expanded"
                            aria-controls="faqs-text-07"
                        >
                            <span style="color: #fff;">What can I do with the ThreeFold Grid?</span>
                            <svg class="fill-white shrink-0 ml-8" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                                <rect y="7" width="16" height="2" rx="1" class="transform origin-center transition duration-200 ease-out" :class="{'!rotate-180': expanded}" />
                                <rect y="7" width="16" height="2" rx="1" class="transform origin-center rotate-90 transition duration-200 ease-out" :class="{'!rotate-180': expanded}" />
                            </svg>
                        </button>
                    </h2>
                    <div
                        id="faqs-text-07"
                        role="region"
                        aria-labelledby="faqs-title-07"
                        class="grid text-sm text-gray-200 overflow-hidden transition-all duration-300 ease-in-out"
                        :class="expanded ? 'grid-rows-[1fr] opacity-100' : 'grid-rows-[0fr] opacity-0'"
                        >
                        <div class="overflow-hidden">
                             <p class="pb-3 text-gray-300 text-base font-light">
                                ThreeFold grid can be used to host any web2, web3 and future workload.
                                For more details see <a href="https://docs.threefold.io/docs/category/how-to-use" target="_blank" rel="noopener noreferrer">our docs</a>.
                            </p>
                        </div>
                    </div>
                </div>                   
                <!-- Accordion item -->
                <div x-data="{ expanded: false }" class="py-2">
                    <h2>
                        <button
                            id="faqs-title-07"
                            type="button"
                            class="flex items-center justify-between w-full text-left font-semibold py-2 border-none"
                            @click="expanded = !expanded"
                            :aria-expanded="expanded"
                            aria-controls="faqs-text-07"
                        >
                            <span style="color: #fff;">How secure and private is my data?</span>
                            <svg class="fill-white shrink-0 ml-8" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                                <rect y="7" width="16" height="2" rx="1" class="transform origin-center transition duration-200 ease-out" :class="{'!rotate-180': expanded}" />
                                <rect y="7" width="16" height="2" rx="1" class="transform origin-center rotate-90 transition duration-200 ease-out" :class="{'!rotate-180': expanded}" />
                            </svg>
                        </button>
                    </h2>
                    <div
                        id="faqs-text-07"
                        role="region"
                        aria-labelledby="faqs-title-07"
                        class="grid text-sm text-gray-200 overflow-hidden transition-all duration-300 ease-in-out"
                        :class="expanded ? 'grid-rows-[1fr] opacity-100' : 'grid-rows-[0fr] opacity-0'"
                        >
                        <div class="overflow-hidden">
                             <p class="pb-3 text-gray-300 text-base font-light">
                                ThreeFold is designed to be secure and private by default. We use end-to-end encryption to protect your data and ensure that only you have access to your data.
                            </p>
                        </div>
                    </div>
                </div>    
                <!-- Accordion item -->
                <div x-data="{ expanded: false }" class="py-2">
                <h2>
                    <button
                        id="faqs-title-07"
                        type="button"
                        class="flex items-center justify-between w-full text-left font-semibold py-2 border-none"
                        @click="expanded = !expanded"
                        :aria-expanded="expanded"
                        aria-controls="faqs-text-07"
                    >
                        <span style="color: #fff;">Who should use the ThreeFold Grid ?</span>
                        <svg class="fill-white shrink-0 ml-8" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                            <rect y="7" width="16" height="2" rx="1" class="transform origin-center transition duration-200 ease-out" :class="{'!rotate-180': expanded}" />
                            <rect y="7" width="16" height="2" rx="1" class="transform origin-center rotate-90 transition duration-200 ease-out" :class="{'!rotate-180': expanded}" />
                        </svg>
                    </button>
                </h2>
                <div
                    id="faqs-text-07"
                    role="region"
                    aria-labelledby="faqs-title-07"
                    class="grid text-sm text-gray-200 overflow-hidden transition-all duration-300 ease-in-out"
                    :class="expanded ? 'grid-rows-[1fr] opacity-100' : 'grid-rows-[0fr] opacity-0'"
                    >
                    <div class="overflow-hidden">
                            <p class="pb-3 text-gray-300 text-base font-light">
                            Individuals, businesses, and organizations who want to be autonomous and have full control over their data and applications. Security is a very big problem today, Technology as used by ThreeFold has the potential to resolve this if used properly. We are building a channel of solution providers and integrators who want to build on top of ThreeFold.

                        </p>
                    </div>
                </div>
            </div>                                                                                              
            <!-- Accordion item
            <div x-data="{ expanded: false }" class="py-2">
                <h2>
                    <button
                        id="faqs-title-04"
                        type="button"
                        class="flex items-center justify-between w-full text-left font-semibold py-2 border-none"
                        @click="expanded = !expanded"
                        :aria-expanded="expanded"
                        aria-controls="faqs-text-04"
                    >
                        <span style="color: #fff;">You have 2 tokens, TFT and INCA, why?</span>
                        <svg class="fill-white shrink-0 ml-8" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                            <rect y="7" width="16" height="2" rx="1" class="transform origin-center transition duration-200 ease-out" :class="{'!rotate-180': expanded}" />
                            <rect y="7" width="16" height="2" rx="1" class="transform origin-center rotate-90 transition duration-200 ease-out" :class="{'!rotate-180': expanded}" />
                        </svg>
                    </button>
                </h2>
                <div
                    id="faqs-text-04"
                    role="region"
                    aria-labelledby="faqs-title-04"
                    class="grid text-sm text-gray-200 overflow-hidden transition-all duration-300 ease-in-out"
                    :class="expanded ? 'grid-rows-[1fr] opacity-100' : 'grid-rows-[0fr] opacity-0'"
                    >
                    <div class="overflow-hidden">
                         <p class="pb-3 text-gray-300 text-base font-light">
                            TFT is our token which was used to build generation 1, 2 and 3 of the ThreeFold Grid capacity. From the start, ThreeFold had 4 billion tokens planned. The ThreeFold community decided to stop minting at 1 billion tokens on Stellar via a DAO vote. TFT is the reward for our loyal community. There can never be more than 1 billion TFT. <br><br>We are now building generation 4 of the ThreeFold Grid capacity, and we need a new token to build this new generation. There will be 3 billion new INCA tokens and all TFT holders can transfer their TFT into INCA (one-way bridge).

                        </p>
                    </div>
                </div>
            </div> -->
    </div>
            <!-- End: Accordion component -->

        </div>
    </main>



   
