<div class="bg-transparent pt-12 pb-6">
  <div class="mx-auto max-w-7xl px-6 lg:max-w-7xl lg:px-8">
    <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
      <h2 class="mx-auto fade-in text-left lg:text-5xl text-2xl leading-snug font-normal tracking-tight text-white">What We’ve Built</h2>
      <p class="text-left mt-6 max-w-3xl text-pretty lg:text-xl text-base font-light text-gray-200 fade-in">
        At ThreeFold, we've created products that embody innovation, authenticity, and simplicity. Each solution is crafted to empower individuals and communities, blending cutting-edge technology with practical usability. Explore how our creations are shaping a more open and connected future.
      </p>
    </div>
  </div>
</div>
<section class="pb-32 bg-transparent">
  <div class="max-w-6xl mx-8 md:mx-10 lg:mx-20 xl:mx-auto">
    <div class="mx-auto max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
        <div class="fade-in-box flex flex-col p-8 rounded rounded-2xl bg-white/5">
          <dt class="flex items-center gap-x-3 text-base/7 rounded-2xl font-semibold text-white">
            ZERO-OS V3
          </dt>
          <dd class="mt-4 flex flex-auto flex-col">
            <p class="flex-auto leading-normal font-light text-gray-200 text-md">A stateless and lightweight operating system that allows for an improved efficiency of up to 10x for certain workloads.</p>
            <p class="mt-6">
              <a href="https://manual.grid.tf/knowledge_base/technology/concepts/zos.html?highlight=zero-os#overview-of-zero-os" target="_blank" class="text-sm/6 font-semibold text-white hover:text-gray-300">Learn more <span aria-hidden="true">→</span></a>
            </p>
          </dd>
        </div>
        <div class="fade-in-box flex flex-col p-8 rounded rounded-2xl bg-white/5">
          <dt class="flex items-center gap-x-3 text-base/7 rounded-2xl font-semibold text-white">
            MYCELIUM NETWORK
          </dt>
          <dd class="mt-4 flex flex-auto flex-col">
            <p class="flex-auto leading-normal font-light text-gray-200 text-md">Decentralized communication layer of TF Grid that connects and coordinates nodes on the ThreeFold Grid, enabling secure and efficient peer-to-peer interactions.</p>
            <p class="mt-6">
              <a href="https://manual.grid.tf/documentation/system_administrators/mycelium/overview.html" target="_blank" class="text-sm/6 font-semibold text-white hover:text-gray-300">Learn more <span aria-hidden="true">→</span></a>
            </p>
          </dd>
        </div>
        <div class="fade-in-box flex flex-col p-8 rounded rounded-2xl bg-white/5">
          <dt class="flex items-center gap-x-3 text-base/7 rounded-2xl font-semibold text-white">
            QUANTUM SAFE STORAGE
          </dt>
          <dd class="mt-4 flex flex-auto flex-col">
            <p class="flex-auto leading-normal font-light text-gray-200 text-md">QSS is a decentralized, globally distributed data storage system. It is unbreakable, self-healing, append-only, and immutable.</p>
            <p class="mt-6">
              <a href="https://manual.grid.tf/knowledge_base/technology/qsss/qsss_home.html" target="_blank" class="text-sm/6 font-semibold text-white hover:text-gray-300">Learn more <span aria-hidden="true">→</span></a>
            </p>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</section>

<style>
  /* Fade-in animation for the grid items */
  .fade-in-box {
    opacity: 0;
    animation: fadeIn 0.6s ease-in-out forwards;
  }

  /* Fading in each grid item with a slight delay */
  .fade-in-box:nth-child(1) { animation-delay: 0s; }
  .fade-in-box:nth-child(2) { animation-delay: 0.2s; }
  .fade-in-box:nth-child(3) { animation-delay: 0.4s; }
  .fade-in-box:nth-child(4) { animation-delay: 0.6s; }
  .fade-in-box:nth-child(5) { animation-delay: 0.8s; }
  .fade-in-box:nth-child(6) { animation-delay: 1s; }
  .fade-in-box:nth-child(7) { animation-delay: 1.2s; }
  .fade-in-box:nth-child(8) { animation-delay: 1.4s; }
  .fade-in-box:nth-child(9) { animation-delay: 1.6s; }
  .fade-in-box:nth-child(10) { animation-delay: 1.8s; }
  .fade-in-box:nth-child(11) { animation-delay: 2s; }
  .fade-in-box:nth-child(12) { animation-delay: 2.2s; }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
</style>
