<div class="bg-transparent relative isolate overflow-hidden py-12 mb-12">
    <img src="images/map_white.png" alt="" class="fade-in absolute inset-0 -z-10 size-full object-cover">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:max-w-none">
        <div class="text-center">
          <h2 class="fade-in text-balance text-4xl font-normal tracking-tight text-white sm:text-5xl">A Global Community</h2>
          <p class="mx-auto mt-6 max-w-3xl text-pretty lg:text-xl text-base font-light text-gray-200 fade-in">With ThreeFold, individuals, organizations, communities, countries, and network states deploy their own sovereign infrastructure. The ThreeFold Grid has been live and operational since 2017.</p>
          <p class="mx-auto mt-6 max-w-3xl text-pretty lg:text-xl text-base font-light text-gray-200 fade-in">Version 3.14 is live on Mainnet.</p>
        </div>
        <dl class="mt-16 grid grid-cols-1 gap-2 overflow-hidden rounded-2xl text-center sm:grid-cols-2 lg:grid-cols-4">
            <div class="fade-in flex flex-col bg-white/5 p-8">
              <dt class="text-sm/6 font-light text-gray-300">CAPACITY</dt>
              <dd class="order-first text-3xl font-semibold tracking-tight text-white">19,10 PB</dd>
            </div>
            <div class="fade-in flex flex-col bg-white/5 p-8">
              <dt class="text-sm/6 font-light text-gray-300">CORES</dt>
              <dd class="order-first text-3xl font-semibold tracking-tight text-white">46,934</dd>
            </div>
            <div class="fade-in flex flex-col bg-white/5 p-8">
              <dt class="text-sm/6 font-semibold text-gray-300">NODES</dt>
              <dd class="order-first text-3xl font-semibold tracking-tight text-white">1596</dd>
            </div>
            <div class="fade-in flex flex-col bg-white/5 p-8">
              <dt class="text-sm/6 font-semibold text-gray-300">COUNTRIES</dt>
              <dd class="order-first text-3xl font-semibold tracking-tight text-white">40+</dd>
            </div>
          </dl>
      </div>

      <p class="flex items-center justify-center mt-8 text-pretty lg:text-xl text-base font-light text-gray-200 fade-in">To build Web 4, we need +1,000,000 Nodes</p>

    </div>
    <div class="mt-12 flex items-center justify-center gap-x-6">
      <a href="https://dashboard.grid.tf/#/tf-grid/node-statistics/" target="_blank" class="fade-in rounded-2xl bg-white px-4 py-2.5 text-sm font-semibold text-black shadow-sm hover:bg-gray-200 hover:text-gray-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-offset-2 mt-8">Explore Grid Capacity</a>
    </div>
  </div>
  
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Initialize the countUp for each of the numbers
      new CountUp('capacity', 0, 1910, 0, 2.5).start();
      new CountUp('cores', 0, 46934, 0, 2.5).start();
      new CountUp('nodes', 0, 1596, 0, 2.5).start();
      new CountUp('countries', 0, 40, 0, 2.5).start();
      new CountUp('farms', 0, 900, 0, 2.5).start();
    });
  </script>
  

<style>
    /* Define the fade-in animation */
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  
    /* Apply the fade-in animation to elements with the 'fade-in' class */
    .fade-in {
      animation: fadeIn 4s ease-in-out forwards; /* Adjust the duration (2s) to make it slower or faster */
    }
  
    /* Optional: Delay the animation for a more staggered effect */
    h2 {
      animation-delay: 0.5s; /* Delay for header */
    }
  
    p {
      animation-delay: 1s; /* Delay for paragraphs */
    }
  </style>
  