<div class="bg-transparent relative isolate overflow-hidden lg:py-24 py-12">
    <img src="images/map_white.png" alt="" class="fade-in absolute inset-0 -z-10 size-full object-cover md:block hidden">
    <div class="mx-auto max-w-7xl px-4 lg:px-8">
      <div class="mx-auto max-w-2xl lg:max-w-none">
        <div class="text-center">
          <h2 class="fade-in text-balance lg:text-5xl text-3xl font-normal tracking-tight text-white ">Powered by
            <br>A Global Community</h2>
          <p class="mx-auto mt-6 max-w-3xl text-pretty lg:text-xl text-lg font-light text-gray-200 fade-in">ThreeFold’s groundbreaking technology enables anyone – individuals, organizations, and communities – to deploy their own Internet infrastructure.</p>
          <p class="mx-auto mt-6 max-w-3xl text-pretty lg:text-xl text-lg font-light text-gray-200 fade-in">Today, our proof-of-concept network is live and operational worldwide, running on version 3.16 technology.</p>
        </div>
        <dl class="items mt-16 grid grid-cols-1 gap-2 overflow-hidden rounded-2xl text-center sm:grid-cols-2 lg:grid-cols-4">
            <!-- ssd -->
          <div class="fade-in flex flex-col justify-center items-center bg-white/5 p-6">
            <div class="tooltip">
              <span class="tooltiptext">The total amount of storage (SSD, HDD, & RAM) on the grid.</span>
              <dt class="text-sm/6 font-light text-gray-300">SSD CAPACITY</dt>
              <dd id="ssd" class="order-first text-3xl font-semibold tracking-tight text-white"></dd>
            </div>
          </div>
            <!-- cores -->
            <div class="fade-in flex flex-col bg-white/5 p-6">
              <div class="tooltip">
              <span class="tooltiptext">The total number of Central Processing Unit cores (compute power) available on the grid.</span>
              <dt class="text-sm/6 font-light text-gray-300">CORES</dt>
              <dd id="cores" class="order-first text-3xl font-semibold tracking-tight text-white"></dd>
            </div>
            </div>
            <!-- Nodes -->
            <div class="fade-in flex flex-col bg-white/5 p-6">
              <div class="tooltip">
              <span class="tooltiptext">The total number of nodes on the grid. A node is a computer server 100% dedicated to the network.</span>
              <dt class="text-sm/6 font-light text-gray-300">NODES</dt>
              <dd id="nodes" class="order-first text-3xl font-semibold tracking-tight text-white"></dd>
            </div>
            </div>
            <!-- countries -->
            <div class="fade-in flex flex-col bg-white/5 p-6">
              <div class="tooltip">
              <span class="tooltiptext">The total number of countries where at least one node is connected and operational.</span>
              <dt class="text-sm/6 font-light text-gray-300">COUNTRIES</dt>
              <dd id="countries" class="order-first text-3xl font-semibold tracking-tight text-white"></dd>
            </div>
            </div>
          </dl>
      </div>
      <div class="max-w-4xl items-center mx-auto">
      <p class="items-center text-center justify-center mt-10 text-pretty lg:text-xl text-lg font-light text-gray-200 fade-in">As we expand, we may need millions of nodes to support this growing ecosystem to build a truly decentralized and resilient infrastructure.</p>
    </div>
    </div>
    <div class="mt-6 flex items-center justify-center gap-x-6">
      <a href="https://dashboard.grid.tf/#/tf-grid/node-statistics/" target="_blank" class="fade-in rounded-2xl bg-white px-4 py-2.5 text-sm font-semibold text-black shadow-sm hover:bg-green hover:text-gray-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 mt-8">Explore Grid Capacity</a>
    </div>
  </div>
  
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Initialize the countUp for each of the numbers
      new CountUp('ssd', 0, 1910, 0, 2.5).start();
      new CountUp('cores', 0, 46934, 0, 2.5).start();
      new CountUp('nodes', 0, 1596, 0, 2.5).start();
      new CountUp('countries', 0, 40, 0, 2.5).start();
      new CountUp('farms', 0, 900, 0, 2.5).start();
    });
  </script>
  

<style>
    /* Define the fade-in animation */
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  
    /* Apply the fade-in animation to elements with the 'fade-in' class */
    .fade-in {
      animation: fadeIn 4s ease-in-out forwards; /* Adjust the duration (2s) to make it slower or faster */
    }
  
    /* Optional: Delay the animation for a more staggered effect */
    h2 {
      animation-delay: 0.5s; /* Delay for header */
    }
  
    p {
      animation-delay: 1s; /* Delay for paragraphs */
    }

    /* Tooltip container */

.tooltip {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* Tooltip text */
.tooltip .tooltiptext {
  font-size: 12px;
  visibility: hidden;
  background-color: rgb(26 26 26 / 90%);
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 4px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  bottom: -7px;
    top: 0px;
    left: 0px;
    right: 0px;
  /* right: -60px; */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media (max-width: 480px) {
    .tooltip .tooltiptext {
        position: absolute;
  z-index: 1;
  bottom: -7px !important;
  right: 0px !important;
  top: 0px !important;
  left: 0px !important;
    }

}
  </style>
  