<div class="relative isolate overflow-hidden bg-transparent">
    <div class="px-6 lg:pt-32 mt-12 pt-24 lg:pb-24 pb-12 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-4xl text-center">
        <h2 class="text-balance font-normal tracking-tight text-white lg:text-6xl text-5xl fade-in">We are Building <br>a New Internet</h2>
        <p class="mx-auto mt-8 max-w-3xl text-pretty lg:text-2xl text-xl font-light text-gray-200 fade-in">A system built to scale to a planetary level, compatible with AI, Cloud, Web2, Web3... Capable to provide 100% uptime, and enables any machine and human to communicate over the shortest path.</p>
        <p class="mx-auto mt-6 max-w-3xl text-pretty lg:text-2xl text-xl font-light text-gray-200 fade-in">That's <span class="font-semibold">ThreeFold's</span></p>
        <br>
        <h1 class="text-balance font-normal tracking-tight text-white lg:text-8xl text-8xl fade-in"> Web4</h2>
        <div class="mt-12 flex items-center justify-center gap-x-6">
          <a href="https://docs.threefold.io/docs/introduction" class="fade-in rounded-2xl bg-white px-4 py-2.5 text-sm font-semibold text-black shadow-sm hover:bg-gray-200 hover:text-gray-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-offset-2">Get Started</a>
          <a href="/what" target="_blank" class=" fade-in text-sm/6 font-semibold text-white hover:text-gray-400">What We've Built <span aria-hidden="true">→</span></a>
        </div>
      </div>
    </div>
  </div>
  
  <style>
    /* Define the fade-in animation */
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  
    /* Apply the fade-in animation to elements with the 'fade-in' class */
    .fade-in {
      animation: fadeIn 4s ease-in-out forwards; /* Adjust the duration (2s) to make it slower or faster */
    }
  
    /* Optional: Delay the animation for a more staggered effect */
    h2 {
      animation-delay: 0.5s; /* Delay for header */
    }
  
    p {
      animation-delay: 1s; /* Delay for paragraphs */
    }
  </style>
  