<div class="bg-transparent lg:py-24 py-12">
  <div class="text-center mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
      <h2 class="mx-auto fade-in lg:text-5xl text-3xl leading-snug font-normal tracking-tight text-white capitalize">Anything That Runs on Linux Can Run
        on ThreeFold</h2>
      <p class="my-6 mx-auto max-w-3xl text-pretty lg:text-xl text-lg font-light text-gray-200 fade-in">
        The grid can be used by any Web2, Web3, AI, or Edge IT workload – enabling a world of possibilities. Here are some of the primary use cases of the grid today.
      </p>
  </div>
<section class="bg-transparent">
  <div class="max-w-6xl mx-4 md:mx-10 lg:mx-20 xl:mx-auto">
    <div class="mx-auto max-w-2xl mt-16  lg:max-w-none">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-8 lg:max-w-none lg:grid-cols-3">
        <div class="fade-in-box flex flex-col p-8 rounded-2xl  bg-white/5">

          <img class="fade-in blinking-effect relative mx-auto mb-4" width="25%" src="/images/open_source.png" alt="">

          <dt class="flex justify-center items-center gap-x-3 text-lg rounded-2xl font-semibold text-white">
            Decentralized <br>Open-Source Cloud
          </dt>
          <dd class="mt-4 flex flex-auto flex-col">
            <p class="flex-auto leading-normal font-light text-gray-200 text-md">ThreeFold is open for developers and system administrators. Deploy virtual machines, containers, Kubernetes clusters, web gateways, and more on top of a best-effort decentralized open source cloud.</p>
            <p class="mt-6">
            </p>

            <p class="text-lg font-semibold text-white mb-2">Available</p>

            <ul class="flex justify-center fade-in">
              <li class="mr-8"><a href="https://dashboard.grid.tf/#/tf-grid/node-statistics/" class="text-white hover:text-gray-300" target="_blank">TF Dashboard</a></li>
              <li><a href="https://manual.grid.tf/" class="text-white hover:text-gray-300" target="_blank">Manual</a></li>
            </ul>
          </dd>
        </div>
        <div class="fade-in-box flex flex-col p-8 rounded-2xl  bg-white/5">
          <img class="fade-in blinking-effect relative mx-auto mb-4" width="25%" src="/images/network.png" alt="">
          <dt class="flex justify-center items-center gap-x-3 text-lg rounded-2xl font-semibold text-white">
            Mycelium <br>Unbreakable Network
          </dt>
          <dd class="mt-4 flex flex-auto flex-col">
            <p class="flex-auto leading-normal font-light text-gray-200 text-md">An adaptive and resilient network solution that not only keeps your data safe but also guarantees uninterrupted and efficient communication. The Mycelium Network is the backbone of a new era of connectivity, prioritizing speed, security, and reliability for all users.</p>
            <p class="mt-6">
            
            </p>
            <p class="text-lg font-semibold text-white mb-2">Available</p>

            <ul class="flex justify-center fade-in">
              <li class="mr-8"><a href="https://mycelium.threefold.io" class="text-white hover:text-gray-300" target="_blank">Website</a></li>
              <li><a href="https://manual.grid.tf/documentation/system_administrators/mycelium/mycelium_toc.html" class="text-white hover:text-gray-300" target="_blank">Manual</a></li>
            </ul>
          </dd>
        </div>
        <div class="fade-in-box flex flex-col p-8 rounded-2xl  bg-white/5">
          <img class="fade-in blinking-effect relative mx-auto mb-4" width="25%" src="/images/ai.png" alt="">
          <dt class="flex justify-center items-center gap-x-3 text-lg rounded-2xl font-semibold text-white">
            AIBOX<br>Decentralized AI
          </dt>
          <dd class="mt-4 flex flex-auto flex-col">
            <p class="flex-auto leading-normal font-light text-gray-200 text-md">A decentralized AI solution in a physical form factor. The product enables personal AI computing capabilities directly in homes and offices, eliminating dependency on centralized data centers.
            </p>
            <p class="mt-6">
              
            </p>
            <p class="text-lg font-semibold text-white mb-2">Coming Soon</p>

            <div class="fade-in">
              <a href="" class="text-white hover:text-gray-300" target="_blank"></a>
            </div>
          </dd>
        </div>
      </div>
    </div>
      </dl>
    </div>
  </div>
</section>

<style>
  /* Fade-in animation for the grid items */
  .fade-in-box {
    opacity: 0;
    animation: fadeIn 0.6s ease-in-out forwards;
  }

  /* Fading in each grid item with a slight delay */
  .fade-in-box:nth-child(1) { animation-delay: 0s; }
  .fade-in-box:nth-child(2) { animation-delay: 0.2s; }
  .fade-in-box:nth-child(3) { animation-delay: 0.4s; }
  .fade-in-box:nth-child(4) { animation-delay: 0.6s; }
  .fade-in-box:nth-child(5) { animation-delay: 0.8s; }
  .fade-in-box:nth-child(6) { animation-delay: 1s; }
  .fade-in-box:nth-child(7) { animation-delay: 1.2s; }
  .fade-in-box:nth-child(8) { animation-delay: 1.4s; }
  .fade-in-box:nth-child(9) { animation-delay: 1.6s; }
  .fade-in-box:nth-child(10) { animation-delay: 1.8s; }
  .fade-in-box:nth-child(11) { animation-delay: 2s; }
  .fade-in-box:nth-child(12) { animation-delay: 2.2s; }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
</style>
