<!DOCTYPE html>
<html lang="en" charset="utf-8">
{% include "partials/head.html" %}
{% include "partials/header.html" %}

<body>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N7PNMFH" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!-- Twitter universal website tag code -->
  <script>
    !function (e, t, n, s, u, a) {
      e.twq || (s = e.twq = function () {
        s.exe ? s.exe.apply(s, arguments) : s.queue.push(arguments);
      }, s.version = '1.1', s.queue = [], u = t.createElement(n), u.async = !0, u.src = '//static.ads-twitter.com/uwt.js',
        a = t.getElementsByTagName(n)[0], a.parentNode.insertBefore(u, a))
    }(window, document, 'script');
    // Insert Twitter Pixel ID and Standard Event data below
    twq('init', 'o745b');
    twq('track', 'PageView');


    // makes all links outside of hostname open in new tab
    // from: https://stackoverflow.com/a/4425214
    var links = document.links;
    var internal_hosts = [
        'www.threefold.io',
        'threefold.io',
        'www2.threefold.io',
        'localhost',
        '127.0.0.1'
    ]
    for (var i = 0, linksLength = links.length; i < linksLength; i++) {
        if (!internal_hosts.includes(links[i].hostname)) {
            links[i].target = '_blank';
        }
    }
  </script>
  <!-- End Twitter universal website tag code -->

  {% include "partials/header.html" %}
  <div id="content" class="px-4 lg:px-0 pt-12 overflow-hidden">
    {% block content %}{% endblock %}
  </div>
  <div class="px-4 md:px-8">
    {% include "partials/footer.html" %}
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
  <script type="text/javascript" src="{{ get_url(path='js/custom.js')}}"></script>
</body>

</html>