<div class="pt-16 bg-transparent h-screen flex flex-col justify-start items-center">
    <div>
        <img 
        class="object-contain w-[100%] max-w-[100%]" 
        src="/images/mycel2.gif" 
        alt="TF">
    </div>
    <div class="text-center">
        <h2 class="text-balance font-normal tracking-tight text-white lg:text-6xl text-4xl fade-in">Save the Date</h2>
        <p class="fade-in mx-auto mt-4 max-w-3xl text-pretty lg:text-4xl text-3xl font-medium text-gray-200 fade-in">12.12.24</p>
    </div>
</div>
