<div class="overflow-hidden bg-transparent py-16 lg:py-24">
    <div class="relative mx-auto max-w-xl px-6 lg:max-w-7xl lg:px-8">
        <div class="mx-auto max-w-2xl px-6 lg:max-w-6xl lg:px-8">
            <h2 class="mx-auto fade-in text-left lg:text-5xl text-4xl leading-snug font-normal tracking-tight text-white">Discover ThreeFold's Web4 Products for a Smarter, Secure Future</h2>
            <p class="text-left my-6 max-w-5xl text-pretty lg:text-xl text-lg font-light text-gray-200 fade-in">
                From secure phones and AI-driven virtual assistants to encrypted routers and decentralized nodes, explore a suite of innovative Web4 products designed to redefine connectivity, empower autonomy, and simplify daily life with cutting-edge technology.</p>
        </div>
        <div class="relative lg:grid lg:grid-cols-2 lg:items-center lg:gap-8">
            <!-- Image on the left and text on the right -->
            <div class="fade-in relative -mx-4 mt-10 lg:mt-0" aria-hidden="true">
                <img class="blinking-effect relative mx-auto" width="490" src="/images/web4_tools3.png" alt="">
            </div>

            <!-- Text on the left -->
            <div class="relative p-4"> <!-- Add padding here for all sides -->
                <div class="gap-y-4">
                    <div class="fade-in relative p-6 bg-white/5 rounded-lg"> <!-- Add padding inside this div -->
                        <dt class="mt-2 lg:text-xl text-lg font-medium tracking-tight text-white">3Phone</dt>
                        <dd class="my-2 max-w-lg text-sm/6 text-gray-400 font-light leading-tight">Secure smartphones come with built-in decentralized apps and seamlessly integrate with the ThreeFold Grid.</dd>
                        <a href="https://docs.threefold.io/docs/components/3phone/" target="_blank" class="text-sm/6 font-semibold text-white hover:text-gray-200">Learn more <span aria-hidden="true">→</span></a>
                    </div>
                    <div class="fade-in relative p-6 mt-4 bg-white/5 rounded-lg"> <!-- Add padding inside this div -->
                        <dt class="mt-2 lg:text-xl text-lg font-medium tracking-tight text-white">3Bot</dt>
                        <dd class="my-2 max-w-lg text-sm/6 text-gray-400 font-light leading-tight">An AI-powered virtual system administrator helps deploy and manage your digital life.</dd>
                        <a href="https://docs.threefold.io/docs/components/3bot" target="_blank" class=" text-sm/6 font-semibold text-white hover:text-gray-200">Learn more <span aria-hidden="true">→</span></a>
                    </div>
                    <div class="fade-in relative p-6 mt-4 bg-white/5 rounded-lg"> <!-- Add padding inside this div -->
                        <dt class="mt-2 lg:text-xl text-lg font-medium tracking-tight text-white">3Node</dt>
                        <dd class="my-2 max-w-lg text-sm/6 text-gray-400 font-light leading-tight">The backbone of Web4's cloud infrastructure, providing compute and data resources.</dd>
                        <a href="https://docs.threefold.io/docs/components/3node" target="_blank" class=" text-sm/6 font-semibold text-white hover:text-gray-200">Learn more <span aria-hidden="true">→</span></a>
                    </div>
                    <div class="fade-in relative p-6 mt-4 bg-white/5 rounded-lg"> <!-- Add padding inside this div -->
                        <dt class="mt-2 lg:text-xl text-lg font-medium tracking-tight text-white">3Router</dt>
                        <dd class="my-2 max-w-lg text-sm/6 text-gray-400 font-light leading-tight">Smart routers ensure shortest-path connections between nodes and phones with end-to-end encryption.</dd>
                        <a href="https://docs.threefold.io/docs/components/3router" target="_blank" class=" text-sm/6 font-semibold text-white hover:text-gray-200">Learn more <span aria-hidden="true">→</span></a>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>
