{% extends "_default/base.html" %}

{% block content %}

<main class="container mx-auto text-center">

<div class="lg:pt-20 pt-8">
    <div>
        <img class="w-1/2 lg:w-1/4 mx-auto my-10" src="/images/404_1.png" alt="404_image">
    </div>
    <div class="max-w-5xl mx-auto">
     <h3 class="text-2xl md:text-4xl font-semibold">You seem to have ended up on a missing page!</h3>
     <p class="font-normal text-gray-500">This could mean that you’ve entered the wrong URL or you’ve clicked on content which has moved locations or is no longer live. If you need assistance, click on the blue chat icon at the bottom of the screen to speak with real humans on our support team. Or go back to <a class="text-gray-50" href="/">home</a>.</p>
    </div>
  
</div>

</main>

{% endblock content %}
