<div class="lg:py-24 py-12">
  <div class=" mb-10 lg:max-w-7xl mx-auto px-4 lg:px-8 text-center">
      <h2 class="fade-in text-balance text-3xl font-normal tracking-tight text-white lg:text-5xl visible">Founders & Key Voices</h2>
  </div>

    <section class="max-w-7xl px-4 mx-auto py-12 flex items-center justify-center isolate overflow-hidden">
      <div class="flex flex-col lg:flex-row items-center">
        <!-- Left Content -->
        <div class="w-full w-full lg:w-1/2 flex justify-center">
          <img src="/images/people/kristof_de_spiegeleer.jpeg" alt="AIBox Specifications" 
               class="w-full lg:w-2/3 rounded-lg grayscale">
        </div>       
      
        <!-- Right Content -->
        <div class="w-full lg:mt-0 mt-6 lg:w-1/2 lg:text-left">
          <div class="flex items-center gap-3 fade-in">
            <h2 class="text-balance font-bold tracking-tight text-white text-xl lg:text-4xl">
              KRISTOF DE SPIEGELEER
            </h2>
            <a href="https://www.linkedin.com/in/despiegk/" target="_blank" 
               class="mx-2 bg-white hover:gray-500 text-white p-2 rounded-lg transition">
              <svg class="w-5 h-5" fill="black" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.98 3.5C4.98 4.60457 4.08557 5.5 2.98 5.5C1.87443 5.5 0.98 4.60457 0.98 3.5C0.98 2.39543 1.87443 1.5 2.98 1.5C4.08557 1.5 4.98 2.39543 4.98 3.5ZM1 7H5V21H1V7ZM8 7H12V9.26C12.6325 8.2665 13.878 7 16 7C19.3125 7 21 9.006 21 12.94V21H17V13.71C17 11.587 16.5045 10.5 15.022 10.5C13.5395 10.5 13 11.79 13 13.71V21H9V7H8Z"/>
              </svg>
            </a>
          </div>
          <p class="mx-auto text-pretty text-lg lg:text-2xl font-medium text-gray-200 fade-in">Co-Founder & CEO</p>
          <p class="mx-auto mt-6 text-pretty text-base font-normal text-gray-200 fade-in">
            is a serial entrepreneur with 30+ years of experience in Internet infrastructure and cloud technology, holding multiple patents and world records in storage and automation solutions used by industry giants like Oracle, Verizon, and Western Digital. He has founded over ten companies, with seven successful exits totaling over $600M. A pioneer in building the Internet and data center business in Europe, Kristof is now focused on creating a decentralized, sovereign Internet through ThreeFold. Guided by a belief that doing good for the world and delivering investor returns can coexist, he champions respect, transparency, and innovation in every venture. Kristof has previously spoken at Davos.
          </p>
        </div>
      </div>  
    </section>
    <section class="max-w-7xl px-4 mx-auto py-12 flex items-center justify-center isolate overflow-hidden">
      <div class="flex flex-col lg:flex-row items-center ">
          
          <!-- Left Content -->
          <div class="w-full lg:w-1/2 flex justify-center">
            <img src="/images/people/florian_fournier.jpeg" alt="AIBox Specifications" class="w-full lg:w-2/3 rounded-lg grayscale">
          </div> 
     
          <!-- Right Image -->
          <div class="w-full lg:mt-0 mt-6 lg:w-1/2 lg:text-left">
            <div class="flex items-center gap-3 fade-in">
              <h2 class="text-balance font-bold tracking-tight text-white text-2xl lg:text-4xl">
                FLORIAN FOURNIER
              </h2>
              <a href="https://www.linkedin.com/in/florianfournier/" target="_blank" 
                 class="mx-2 bg-white hover:gray-500 text-white p-2 rounded-lg transition">
                <svg class="w-5 h-5" fill="black" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4.98 3.5C4.98 4.60457 4.08557 5.5 2.98 5.5C1.87443 5.5 0.98 4.60457 0.98 3.5C0.98 2.39543 1.87443 1.5 2.98 1.5C4.08557 1.5 4.98 2.39543 4.98 3.5ZM1 7H5V21H1V7ZM8 7H12V9.26C12.6325 8.2665 13.878 7 16 7C19.3125 7 21 9.006 21 12.94V21H17V13.71C17 11.587 16.5045 10.5 15.022 10.5C13.5395 10.5 13 11.79 13 13.71V21H9V7H8Z"/>
                </svg>
              </a>
            </div>
            <p class="mx-auto text-pretty text-2xl font-medium text-gray-200 fade-in">Co-Founder & CMO</p>
            <p class="mx-auto mt-6 text-pretty text-base font-normal text-gray-200 fade-in">
              Florian Fournier is a serial entrepreneur and ex marketing director at Apple. He's a co-founder at ThreeFold primarily focused on marketing and business development.<br><br>
              Florian aims to help in bringing new ways of living together, relating, moving, consuming, taking care of each other and working in a more sustainable way, through unpacking current scenarios and anticipating future perspectives. He has previously spoken at Davos and at Balaji Srinivasan’s event Network State, to great acclaim.
            </p>
          </div>
       
      </div>
  </section>
</div>

<style>

      /* Apply the blinking animation to the link */
 .blinking-effect {
  animation: blink 2s infinite; /* Adjust the speed here (1.5s for slow blinking) */
}

  /* Define the fade-in animation */
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* Apply the fade-in animation to elements with the 'fade-in' class */
  .fade-in {
    animation: fadeIn 4s ease-in-out forwards; /* Adjust the duration (2s) to make it slower or faster */
  }

  /* Optional: Delay the animation for a more staggered effect */
  h2 {
    animation-delay: 0.5s; /* Delay for header */
  }

  p {
    animation-delay: 1s; /* Delay for paragraphs */
  }
</style> 

  