<section class="text-white py-12 sm:py-16 lg:pb-20">
    <div class="mx-auto max-w-7xl px-4 sm:px-6">
        <div class="text-center">
            <h2 class="mb-10 fade-in text-balance text-3xl font-normal tracking-tight text-white lg:text-5xl capitalize visible">Social Media & Community</h2>
        </div>

        <div class="pt-6 lg:pt-10 relative flex flex-col xl:flex xl:flex-row text-center mx-auto justify-center mx-auto">
                <div class="flex-1 mb-6 md:mb-0 px-2 md:px-4 w-full m-2 lg:m-0">
                    <div class="myscale text-white">
                        <a target="_blank" href="https://forum.threefold.io/"><img src="/images/discourse_dark.png" class="mx-auto" width="60px" alt="Image"></p>
                    </div>
                    <h6 class="text-white mt-4 font-semibold">Forum</h6>
                    <p class="text-base text-white  leading-snug">Ask Questions</p>
                </div>   
                <div class="flex-1 mb-6 md:mb-0 px-2 md:px-4 w-full m-2 lg:m-0">
                    <div class="myscale">
                      <a target="_blank" href="https://github.com/threefoldfoundation"><img src="/images/github_dark.png" class="mx-auto" width="60px" alt="Image"></a>
                    </div>
                    <h6 class="text-white mt-4 font-semibold">GitHub | Tech</h6>
                    <p class="text-base text-white  leading-snug">Open-Source Collaboration for Tech Development</p>
                </div>
                <div class="flex-1 mb-6 md:mb-0 px-2 md:px-4 w-full m-2 lg:m-0">
                    <div class="myscale">
                      <a target="_blank" href="https://github.com/threefoldtech"><img src="/images/github_dark.png" class="mx-auto" width="60px" alt="Image"></a>
                    </div>
                    <h6 class="text-white mt-4 font-semibold">GitHub | Foundation</h6>
                    <p class="text-base text-white  leading-snug">Open-source Collaboration for Websites and Online Info</p>
                </div>
                <div class="flex-1 mb-6 md:mb-0 px-2 md:px-4 w-full m-2 lg:m-0">
                    <div class="myscale">
                      <a target="_blank" href="https://x.com/threefold_io"><img src="/images/twitter.png" class="mx-auto" width="60px" alt="Image"></a>
                    </div>
                    <h6 class="text-white mt-4 font-semibold">X | Twitter</h6>
                    <p class="text-base text-white  leading-snug">"Tweet" With Us</p>   
                </div>
        </div>
        <div class="pt-6 lg:pt-10 relative flex flex-col xl:flex xl:flex-row text-center mx-auto justify-center mx-auto">
            <div class="flex-1 mb-6 md:mb-0 px-2 md:px-4 w-full m-2 lg:m-0">
                <div class="myscale text-white">
                    <a target="_blank" href="https://t.me/threefoldnews"><img src="/images/telegram.png" class="mx-auto" width="60px" alt="Image"></p>
                </div>
                <h6 class="text-white mt-4 font-semibold">Telegram News</h6>
                <p class="text-base text-white  leading-snug">Stay Updated</p>
            </div>   
            <div class="flex-1 mb-6 md:mb-0 px-2 md:px-4 w-full m-2 lg:m-0">
                <div class="myscale">
                  <a target="_blank" href="https://t.me/threefold"><img src="/images/telegram.png" class="mx-auto" width="60px" alt="Image"></a>
                </div>
                <h6 class="text-white mt-4 font-semibold">Telegram Main Chat</h6>
                <p class="text-base text-white  leading-snug">Community Conversation</p>
            </div>
            <div class="flex-1 mb-6 md:mb-0 px-2 md:px-4 w-full m-2 lg:m-0">
                <div class="myscale">
                  <a target="_blank" href="https://t.me/threefoldfarmers"><img src="/images/telegram.png" class="mx-auto" width="60px" alt="Image"></a>
                </div>
                <h6 class="text-white mt-4 font-semibold">Telegram Farmers Chat</h6>
                <p class="text-base text-white  leading-snug">Farming Community</p>
            </div>
            <div class="flex-1 mb-6 md:mb-0 px-2 md:px-4 w-full m-2 lg:m-0">
                <div class="myscale">
                  <a target="_blank" href="https://t.me/threefoldtesting"><img src="/images/telegram.png" class="mx-auto" width="60px" alt="Image"></a>
                </div>
                <h6 class="text-white mt-4 font-semibold">Telegram Grid User Chat</h6>
                <p class="text-base text-white  leading-snug">Grid User Community</p>   
            </div>
        </div>
        <div class="pt-6 lg:pt-10 relative flex flex-col xl:flex xl:flex-row text-center mx-auto justify-center mx-auto">
            <div class="flex-1 mb-6 md:mb-0 px-2 md:px-4 w-full m-2 lg:m-0">
                <div class="myscale text-white">
                    <a target="_blank" href="https://www.reddit.com/r/threefold/"><img src="/images/reddit_dark.png" class="mx-auto" width="60px" alt="Image"></p>
                </div>
                <h6 class="text-white mt-4 font-semibold">Reddit</h6>
                <p class="text-base text-white  leading-snug">Join In</p>
            </div>   
            <div class="flex-1 mb-6 md:mb-0 px-2 md:px-4 w-full m-2 lg:m-0">
                <div class="myscale">
                  <a target="_blank" href="https://www.youtube.com/@ThreeFoldFoundation"><img src="/images/youtube.png" class="mx-auto" width="60px" alt="Image"></a>
                </div>
                <h6 class="text-white mt-4 font-semibold">YouTube</h6>
                <p class="text-base text-white  leading-snug">Watch Things Unfold</p>
            </div>
            <div class="flex-1 mb-6 md:mb-0 px-2 md:px-4 w-full m-2 lg:m-0">
                <div class="myscale">
                  <a target="_self" href="javascript:;" onclick="ml_account('webforms', '3562741', 'n7q9l7', 'show')"><img src="/images/mail_dark.png" class="mx-auto" width="60px" alt="Image"></a>
                </div>
                <h6 class="text-white mt-4 font-semibold">E-mail Newsletter</h6>
                <p class="text-base text-white  leading-snug">Updates in Your Inbox</p>
            </div>
            <div class="flex-1 mb-6 md:mb-0 px-2 md:px-4 w-full m-2 lg:m-0">
                <div class="myscale">
                  <a target="_blank" href="https://www.linkedin.com/company/threefold-io/"><img src="/images/linkedin_dark.png" class="mx-auto" width="60px" alt="Image"></a>
                </div>
                <h6 class="text-white mt-4 font-semibold">LinkedIn</h6>
                <p class="text-base text-white  leading-snug">Lets Network</p>   
            </div>
        </div>
    </div>
        
</section>