
<div class="bg-transparent pt-24 pb-10">
  <div class="mx-auto max-w-7xl px-6 lg:max-w-7xl lg:px-8">
    <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
      <h2 class="mx-auto fade-in text-left lg:text-5xl text-2xl leading-snug font-normal tracking-tight text-white">What We’ve Built</h2>
       <p class="text-left mt-6 max-w-3xl  text-pretty lg:text-xl text-base font-light text-gray-200 fade-in">
        At Threefold, we've created products that embody innovation, authenticity, and simplicity. Each solution is crafted to empower individuals and communities, blending cutting-edge technology with practical usability. Explore how our creations are shaping a more open and connected future.
        </p>
    </div>
  </div>
</div>


<section  class="pb-24 pt-12 bg-transparent">
  <div class="max-w-6xl mx-8 md:mx-10 lg:mx-20 xl:mx-auto">


      <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 lg:gap-8">


          <ul class="space-y-8">
              <li class="text-sm leading-6">
                  <div class="relative group">
                      <div
                          class="absolute">
                      </div><a href="https://manual.grid.tf/documentation/dashboard/dashboard.html" class="cursor-pointer">
                          <div
                              class="relative p-6 space-y-6 leading-none rounded-lg bg-white/5">
                              <div class="flex items-center space-x-4">
                                  <div>
                                      <h3 class="text-lg font-semibold text-white">TF DASHBOARD</h3>
                                       
                                  </div>
                              </div>
                              <p class="leading-normal font-light text-gray-300 text-md">A Graphical user interface (GUI) provided by ThreeFold for users to access and manage their ThreeFold Grid resources</p>
                          </div>
                      </a>
                  </div>
              </li>
              <li class="text-sm leading-6">
                  <div class="relative group">
                      <div
                          class="absolute">
                      </div><a href="https://manual.grid.tf/documentation/tfconnect/tfconnect_toc.html" class="cursor-pointer">
                          <div
                              class="relative p-6 space-y-6 leading-none rounded-lg bg-white/5 ring-1 ring-gray-900/5">
                              <div class="flex items-center space-x-4">
                                  <div>
                                      <h3 class="text-lg font-semibold text-white">TF CONNECT APP</h3>
                                       
                                  </div>
                              </div>
                              <p class="leading-normal font-light text-gray-300 text-md">TF Connect is a mobile app that serves as a gateway to the ThreeFold ecosystem and its various ThreeFold products and services.</p>
                          </div>
                      </a>
                  </div>
              </li>
              <li class="text-sm leading-6">
                  <div class="relative group">
                      <div
                          class=" absolute">
                      </div><a href="" class="cursor-pointer">
                          <div
                              class="relative p-6 space-y-6 leading-none rounded-lg bg-white/5 ring-1 ring-gray-900/5">
                              <div class="flex items-center space-x-4">
                                  <div>
                                      <h3 class="text-lg font-semibold text-white">3NODES</h3>
                                      <p class="text-white font-light text-md"> Once booted with Zero OS, a computer becomes a ThreeFold Node.</p>
                                  </div>
                              </div>
                              <p class="leading-normal text-gray-300 text-md"></p>
                          </div>
                      </a>
                  </div>
              </li>
          </ul>


          <ul class="hidden space-y-8 sm:block">
              <li class="text-sm leading-6">
                  <div class="relative group">
                      <div
                          class=" absolute">
                      </div><a href="https://manual.grid.tf/documentation/dashboard/tfchain/tf_dao.html" class="cursor-pointer">
                          <div
                              class="relative p-6 space-y-6 leading-none rounded-lg bg-white/5 ring-1 ring-gray-900/5">
                              <div class="flex items-center space-x-4">
                                  <div>
                                      <h3 class="text-lg font-semibold text-white">TF DAO</h3>
                                       
                                  </div>
                              </div>
                              <p class="leading-normal font-light text-gray-300 text-md">Through the TF DAO, users can propose, vote on, and implement changes to the network protocols, policies, and operations, fostering a collaborative and inclusive environment.</p>
                          </div>
                      </a>
                  </div>
              </li>
              <li class="text-sm leading-6">
                  <div class="relative group">
                      <div
                          class=" absolute">
                      </div><a href="https://manual.grid.tf/knowledge_base/technology/concepts/tfchain.html" class="cursor-pointer">
                          <div
                              class="relative p-6 space-y-6 leading-none rounded-lg bg-white/5 ring-1 ring-gray-900/5">
                              <div class="flex items-center space-x-4">
                                  <div>
                                      <h3 class="text-lg font-semibold text-white">TF CHAIN</h3>
                                      <p class="text-white font-light text-md">TF Chain is the universal smart contract layer on the ThreeFold Grid. It’s an application-specific blockchain customized for the operation of a single application – provisioning decentralized compute, storage and network capacity. </p>
                                  </div>
                              </div>
                              <p class="leading-normal text-gray-300 text-md"></p>
                          </div>
                      </a>
                  </div>
              </li>
              <li class="text-sm leading-6">
                  <div class="relative group">
                      <div
                          class=" absolute">
                      </div><a href="" class="cursor-pointer">
                          <div
                              class="relative p-6 space-y-6 leading-none rounded-lg bg-white/5 ring-1 ring-gray-900/5">
                              <div class="flex items-center space-x-4">
                                  <div>
                                      <h3 class="text-lg font-semibold text-white">GATEWAY NODES</h3>
                                       
                                  </div>
                              </div>
                              <p class="leading-normal text-white font-light text-md">Enim neque volutpat ac tincidunt vitae
                                  semper. Mattis aliquam faucibus purus in massa tempor. Neque vitae tempus quam
                                  pellentesque nec. Turpis cursus in hac habitasse platea dictumst.</p>
                          </div>
                      </a>
                  </div>
              </li>      
          </ul>


          <ul class="hidden space-y-8 lg:block">
              <li class="text-sm leading-6">
                  <div class="relative group">
                      <div
                          class=" absolute">
                      </div><a href="https://manual.grid.tf/knowledge_base/technology/concepts/zos.html?highlight=zero-os#overview-of-zero-os" class="cursor-pointer">
                          <div
                              class="relative p-6 space-y-6 leading-none rounded-lg bg-white/5 ring-1 ring-gray-900/5">
                              <div class="flex items-center space-x-4">
                                  <div>
                                      <h3 class="text-lg font-semibold text-white">ZERO-OS V3</h3>
                                       
                                  </div>
                              </div>
                              <p class="leading-normal font-light text-gray-300 text-md">Zero-OS is a stateless and lightweight operating system that allows for an improved efficiency of up to 10x for certain workloads.</p>
                          </div>
                      </a>
                  </div>
              </li>
              <li class="text-sm leading-6">
                  <div class="relative group">
                      <div
                          class=" absolute">
                      </div><a href="https://manual.grid.tf/documentation/system_administrators/mycelium/overview.html" class="cursor-pointer">
                          <div
                              class="relative p-6 space-y-6 leading-none rounded-lg bg-white/5 ring-1 ring-gray-900/5">
                              <div class="flex items-center space-x-4">
                                  <div>
                                      <h3 class="text-lg font-semibold text-white">MYCELIUM</h3>
                                  </div>
                              </div>
                              <p class="leading-normal text-white font-light text-md">Mycelium is an end-2-end encrypted IPv6 overlay network written in Rust where each node that joins the overlay network will receive an overlay network IP in the 400::/7 range.</p>
                          </div>
                      </a>
                  </div>
              </li>
              <li class="text-sm leading-6">
                  <div class="relative group">
                      <div
                          class=" absolute">
                      </div><a href="https://manual.grid.tf/knowledge_base/technology/qsss/qsss_home.html" class="cursor-pointer">
                          <div
                              class="relative p-6 space-y-6 leading-none rounded-lg bg-white/5 ring-1 ring-gray-900/5">
                              <div class="flex items-center space-x-4">
                                  <div>
                                      <h3 class="text-lg font-semibold text-white">QUANTUM SAFE STORAGE</h3>
                                       
                                  </div>
                              </div>
                              <p class="leading-normal text-gray-300 text-md">QSS is a decentralized, globally distributed data storage system. It is unbreakable, self-healing, append-only and immutable.</p>
                          </div>
                      </a>
                  </div>
              </li>
          </ul>


      </div>
  </div>
</section>