<div class="relative flex flex-col justify-center isolate overflow-hidden bg-transparent py-12">
  <div class="px-4 lg:px-8">
    <div class="mx-auto max-w-4xl text-center">
      <h2 class="text-balance font-normal tracking-tight text-white lg:text-6xl text-4xl fade-in">A True DePIN</h2>
      <p class="text-balance lg:text-2xl text-xl font-light text-gray-200  tracking-normal  fade-in"><span class="font-bold">De</span>Centralized
        <span class="font-bold"> P</span>hysical <span class="font-bold">I</span>nfrastructure <span class="font-bold">N</span>etwork<br><br></p>
      <h2 class="text-balance font-normal tracking-tight leading-snug text-white lg:text-3xl text-2xl fade-in">Planetary Scalable
        <br> Autonomous Infrastructure Layer<br>for The Internet</h2>
      <p class="mx-auto mt-8 max-w-3xl text-pretty lg:text-2xl text-lg font-light text-gray-200  font-lightfade-in">Our unique
        technology enables anyone to become a provider<br> of network, storage and compute capacity.</p>
      <div class="mx-auto max-w-7xl px-4 py-8">
        <img src="/images/become_farmer.png" alt="Become a Farmer" class="w-full fade-in">
      </div>
      <div class=" flex items-center justify-center mt-6 ">
        <a href="https://docs.threefold.io" target="_blank"
          class="fade-in rounded-2xl bg-white px-4 py-2.5 text-md font-semibold text-black shadow-sm hover:bg-gray-200 hover:text-gray-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">Dive
          Deeper</a>
      </div>      
    </div>
  </div>
</div>


<style>
  /* Define the fade-in animation */
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  /* Apply the fade-in animation to elements with the 'fade-in' class */
  .fade-in {
    animation: fadeIn 4s ease-in-out forwards;
    /* Adjust the duration (2s) to make it slower or faster */
  }

  /* Optional: Delay the animation for a more staggered effect */
  h2 {
    animation-delay: 0.5s;
    /* Delay for header */
  }

  p {
    animation-delay: 1s;
    /* Delay for paragraphs */
  }
</style>
