<div class="bg-transparent pt-12 pb-24">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-3xl items-center justify-center">
        <p class="fade-in text-balance  text-center items-center text-4xl font-normal tracking-tight text-white sm:text-5xl">What You Can Do With It</p>
        <p class="mx-auto mt-6 max-w-3xl text-center items-center text-pretty lg:text-xl text-base font-light text-gray-200 fade-in">Today, ThreeFold is primarily focused on empowering developers to create innovative cloud solutions. <br><br>On 12-12-24, we will unveil exciting news about how Web4 will soon become accessible to everyone, opening up endless possibilities for all users.</p>
      </div>
      <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
        <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
            <!--1-->
          <div class="flex flex-col">
            <dt class="flex-auto items-center text-center text-base font-semibold text-white">
                 Communicate securely
            </dt>
            <dd class="mt-2 flex flex-auto flex-col font-light text-base text-white">
              <p class="px-4 flex-auto text-center text-base text-white">Experience end-to-end encrypted communication in the shortest possible path, ensuring messages remain private and unalterable—even during disasters.</p>
            </dd>
          </div>
           <!--2-->
           <div class="flex flex-col">
            <dt class="flex-auto items-center text-center text-base font-semibold text-white">
                Share and store effortlessly
            </dt>
            <dd class="mt-2 flex flex-auto items-center text-center flex-col font-light text-base text-white">
              <p class="px-4 flex-auto text-base text-white">Securely share and store information with ease, scaling seamlessly from personal use to billions of users.
              </p>
            </dd>
          </div>
           <!--3-->
           <div class="flex flex-col">
            <dt class="flex-auto items-center text-center text-base font-semibold text-white">
                Restore authenticity
            </dt>
            <dd class="mt-2 flex flex-auto flex-col font-light text-base text-white">
              <p class="px-4 flex-auto items-center text-center text-base text-white">Determine which information can be trusted, bringing clarity and confidence back to the digital space.
                 </p>
            </dd>
          </div>
          <!--3-->
          <div class="flex flex-col">
            <dt class="flex-auto items-center text-center text-base font-semibold text-white">
                Unlock limitless insights
            </dt>
            <dd class="mt-2 flex flex-auto flex-col font-light text-base text-white">
              <p class="px-4 flex-auto items-center text-center text-base text-white">Discover, analyze, and find information with no boundaries, aided by a powerful personal AI assistant.
                 </p>
            </dd>
          </div>
          <!--3-->
          <div class="flex flex-col">
            <dt class="flex-auto items-center text-center text-base font-semibold text-white">
                Streamline your interactions
            </dt>
            <dd class="mt-2 flex flex-auto flex-col font-light text-base text-white">
              <p class="px-4 flex-auto items-center text-center text-base text-white">Keep track of all your connections and simplify your life with an AI that optimizes your daily tasks and interactions.
                 </p>
            </dd>
          </div>
           <!--3-->
           <div class="flex flex-col">
            <dt class="flex-auto items-center text-center text-base font-semibold text-white">
                Take control of your digital presence
            </dt>
            <dd class="mt-2 flex flex-auto flex-col font-light text-base text-white">
              <p class="px-4 flex-auto items-center text-center text-base text-white">Own and manage your data, identity, and interactions across platforms, ensuring transparency and autonomy in the digital world.
                 </p>
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
  